.flex-box {
    display: flex;
    justify-content: start;
    align-items: center;
}

.flags_img {
    background-image: url('../images/flag-icons.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 11px;
    background-color: transparent;
    vertical-align: middle;
    background-position: 16px 12px;
    margin: 8px;
}

.iso_AD {
    background-position: -80px 0
}

.iso_AE {
    background-position: -192px -96px
}

.iso_AF {
    background-position: 0 0
}

.iso_AG {
    background-position: -144px 0
}

.iso_AI {
    background-position: -112px 0
}

.iso_AL {
    background-position: -32px 0
}

.iso_AM {
    background-position: -176px 0
}

.iso_AN {
    background-position: -288px -60px
}

.iso_AO {
    background-position: -96px 0
}

.iso_AQ {
    background-position: -128px 0
}

.iso_AR {
    background-position: -160px 0
}

.iso_AS {
    background-position: -64px 0
}

.iso_AT {
    background-position: -224px 0
}

.iso_AU {
    background-position: -208px 0
}

.iso_AW {
    background-position: -192px 0
}

.iso_AX {
    background-position: -16px 0
}

.iso_AZ {
    background-position: -240px 0
}

.iso_BA {
    background-position: 0 -12px
}

.iso_BB {
    background-position: -304px 0
}

.iso_BD {
    background-position: -288px 0
}

.iso_BE {
    background-position: -336px 0
}

.iso_BF {
    background-position: -112px -12px
}

.iso_BG {
    background-position: -96px -12px
}

.iso_BH {
    background-position: -272px 0
}

.iso_BI {
    background-position: -128px -12px
}

.iso_BJ {
    background-position: -368px 0
}

.iso_BL {
    background-position: -288px -72px
}

.iso_BM {
    background-position: -384px 0
}

.iso_BN {
    background-position: -80px -12px
}

.iso_BO {
    background-position: -416px 0
}

.iso_BQ {
    background-position: -432px 0
}

.iso_BR {
    background-position: -48px -12px
}

.iso_BS {
    background-position: -256px 0
}

.iso_BT {
    background-position: -400px 0
}

.iso_BV {
    background-position: -32px -12px
}

.iso_BW {
    background-position: -16px -12px
}

.iso_BY {
    background-position: -320px 0
}

.iso_BZ {
    background-position: -352px 0
}

.iso_CA {
    background-position: -176px -12px
}

.iso_CC {
    background-position: -304px -12px
}

.iso_CD {
    background-position: -368px -12px
}

.iso_CF {
    background-position: -224px -12px
}

.iso_CG {
    background-position: -352px -12px
}

.iso_CH {
    background-position: -352px -84px
}

.iso_CI {
    background-position: -416px -12px
}

.iso_CK {
    background-position: -384px -12px
}

.iso_CL {
    background-position: -256px -12px
}

.iso_CM {
    background-position: -160px -12px
}

.iso_CN {
    background-position: -272px -12px
}

.iso_CO {
    background-position: -320px -12px
}

.iso_CR {
    background-position: -400px -12px
}

.iso_CS {
    background-position: -48px -84px
}

.iso_CU {
    background-position: 0 -24px
}

.iso_CV {
    background-position: -192px -12px
}

.iso_CW {
    background-position: -16px -24px
}

.iso_CX {
    background-position: -288px -12px
}

.iso_CY {
    background-position: -32px -24px
}

.iso_CZ {
    background-position: -48px -24px
}

.iso_DE {
    background-position: -416px -24px
}

.iso_DJ {
    background-position: -80px -24px
}

.iso_DK {
    background-position: -64px -24px
}

.iso_DM {
    background-position: -96px -24px
}

.iso_DO {
    background-position: -112px -24px
}

.iso_DZ {
    background-position: -48px 0
}

.iso_EC {
    background-position: -128px -24px
}

.iso_EE {
    background-position: -208px -24px
}

.iso_EG {
    background-position: -144px -24px
}

.iso_EH {
    background-position: -384px -96px
}

.iso_ER {
    background-position: -192px -24px
}

.iso_ES {
    background-position: -240px -84px
}

.iso_ET {
    background-position: -224px -24px
}

.iso_FI {
    background-position: -288px -24px
}

.iso_FJ {
    background-position: -272px -24px
}

.iso_FK {
    background-position: -240px -24px
}

.iso_FM {
    background-position: -80px -60px
}

.iso_FO {
    background-position: -256px -24px
}

.iso_FR {
    background-position: -304px -24px
}

.iso_GA {
    background-position: -368px -24px
}

.iso_GB {
    background-position: -208px -96px
}

.iso_GD {
    background-position: -48px -36px
}

.iso_GE {
    background-position: -400px -24px
}

.iso_GF {
    background-position: -320px -24px
}

.iso_GG {
    background-position: -112px -36px
}

.iso_GH {
    background-position: -432px -24px
}

.iso_GI {
    background-position: 0 -36px
}

.iso_GL {
    background-position: -32px -36px
}

.iso_GM {
    background-position: -384px -24px
}

.iso_GN {
    background-position: -128px -36px
}

.iso_GP {
    background-position: -64px -36px
}

.iso_GQ {
    background-position: -176px -24px
}

.iso_GR {
    background-position: -16px -36px
}

.iso_GS {
    background-position: -208px -84px
}

.iso_GT {
    background-position: -96px -36px
}

.iso_GU {
    background-position: -80px -36px
}

.iso_GW {
    background-position: -144px -36px
}

.iso_GY {
    background-position: -160px -36px
}

.iso_HK {
    background-position: -240px -36px
}

.iso_HM {
    background-position: -192px -36px
}

.iso_HN {
    background-position: -224px -36px
}

.iso_HR {
    background-position: -432px -12px
}

.iso_HT {
    background-position: -176px -36px
}

.iso_HU {
    background-position: -256px -36px
}

.iso_ID {
    background-position: -304px -36px
}

.iso_IE {
    background-position: -352px -36px
}

.iso_IL {
    background-position: -384px -36px
}

.iso_IM {
    background-position: -368px -36px
}

.iso_IN {
    background-position: -288px -36px
}

.iso_IO {
    background-position: -64px -12px
}

.iso_IQ {
    background-position: -336px -36px
}

.iso_IR {
    background-position: -320px -36px
}

.iso_IS {
    background-position: -272px -36px
}

.iso_IT {
    background-position: -400px -36px
}

.iso_JE {
    background-position: 0 -48px
}

.iso_JM {
    background-position: -416px -36px
}

.iso_JO {
    background-position: -16px -48px
}

.iso_JP {
    background-position: -432px -36px
}

.iso_KE {
    background-position: -48px -48px
}

.iso_KG {
    background-position: -144px -48px
}

.iso_KH {
    background-position: -144px -12px
}

.iso_KI {
    background-position: -64px -48px
}

.iso_KM {
    background-position: -336px -12px
}

.iso_KN {
    background-position: -320px -72px
}

.iso_KP {
    background-position: -80px -48px
}

.iso_KR {
    background-position: -96px -48px
}

.iso_KW {
    background-position: -128px -48px
}

.iso_KY {
    background-position: -208px -12px
}

.iso_KZ {
    background-position: -32px -48px
}

.iso_LA {
    background-position: -160px -48px
}

.iso_LB {
    background-position: -192px -48px
}

.iso_LC {
    background-position: -336px -72px
}

.iso_LI {
    background-position: -256px -48px
}

.iso_LK {
    background-position: -256px -84px
}

.iso_LR {
    background-position: -224px -48px
}

.iso_LS {
    background-position: -208px -48px
}

.iso_LT {
    background-position: -272px -48px
}

.iso_LU {
    background-position: -288px -48px
}

.iso_LV {
    background-position: -176px -48px
}

.iso_LY {
    background-position: -240px -48px
}

.iso_MA {
    background-position: -176px -60px
}

.iso_MC {
    background-position: -112px -60px
}

.iso_MD {
    background-position: -96px -60px
}

.iso_ME {
    background-position: -144px -60px
}

.iso_MF {
    background-position: -352px -72px
}

.iso_MG {
    background-position: -336px -48px
}

.iso_MH {
    background-position: -432px -48px
}

.iso_MK {
    background-position: -320px -48px
}

.iso_ML {
    background-position: -400px -48px
}

.iso_MM {
    background-position: -208px -60px
}

.iso_MN {
    background-position: -128px -60px
}

.iso_MO {
    background-position: -304px -48px
}

.iso_MP {
    background-position: -416px -60px
}

.iso_MQ {
    background-position: 0 -60px
}

.iso_MR {
    background-position: -16px -60px
}

.iso_MS {
    background-position: -160px -60px
}

.iso_MT {
    background-position: -416px -48px
}

.iso_MU {
    background-position: -32px -60px
}

.iso_MV {
    background-position: -384px -48px
}

.iso_MW {
    background-position: -352px -48px
}

.iso_MX {
    background-position: -64px -60px
}

.iso_MY {
    background-position: -368px -48px
}

.iso_MZ {
    background-position: -192px -60px
}

.iso_NA {
    background-position: -224px -60px
}

.iso_NC {
    background-position: -304px -60px
}

.iso_NE {
    background-position: -352px -60px
}

.iso_NF {
    background-position: -400px -60px
}

.iso_NG {
    background-position: -368px -60px
}

.iso_NI {
    background-position: -336px -60px
}

.iso_NL {
    background-position: -272px -60px
}

.iso_NO {
    background-position: -432px -60px
}

.iso_NP {
    background-position: -256px -60px
}

.iso_NR {
    background-position: -240px -60px
}

.iso_NU {
    background-position: -384px -60px
}

.iso_NZ {
    background-position: -320px -60px
}

.iso_OM {
    background-position: 0 -72px
}

.iso_PA {
    background-position: -64px -72px
}

.iso_PE {
    background-position: -112px -72px
}

.iso_PF {
    background-position: -336px -24px
}

.iso_PG {
    background-position: -80px -72px
}

.iso_PH {
    background-position: -128px -72px
}

.iso_PK {
    background-position: -16px -72px
}

.iso_PL {
    background-position: -160px -72px
}

.iso_PM {
    background-position: -368px -72px
}

.iso_PN {
    background-position: -144px -72px
}

.iso_PR {
    background-position: -192px -72px
}

.iso_PS {
    background-position: -48px -72px
}

.iso_PT {
    background-position: -176px -72px
}

.iso_PW {
    background-position: -32px -72px
}

.iso_PY {
    background-position: -96px -72px
}

.iso_QA {
    background-position: -208px -72px
}

.iso_RE {
    background-position: -224px -72px
}

.iso_RO {
    background-position: -240px -72px
}

.iso_RS {
    background-position: -32px -84px
}

.iso_RU {
    background-position: -256px -72px
}

.iso_RW {
    background-position: -272px -72px
}

.iso_SA {
    background-position: 0 -84px
}

.iso_SB {
    background-position: -160px -84px
}

.iso_SC {
    background-position: -64px -84px
}

.iso_SD {
    background-position: -272px -84px
}

.iso_SE {
    background-position: -336px -84px
}

.iso_SG {
    background-position: -96px -84px
}

.iso_SH {
    background-position: -304px -72px
}

.iso_SI {
    background-position: -144px -84px
}

.iso_SJ {
    background-position: -304px -84px
}

.iso_SK {
    background-position: -128px -84px
}

.iso_SL {
    background-position: -80px -84px
}

.iso_SM {
    background-position: -416px -72px
}

.iso_SN {
    background-position: -16px -84px
}

.iso_SO {
    background-position: -176px -84px
}

.iso_SR {
    background-position: -288px -84px
}

.iso_SS {
    background-position: -224px -84px
}

.iso_ST {
    background-position: -432px -72px
}

.iso_SV {
    background-position: -160px -24px
}

.iso_SX {
    background-position: -112px -84px
}

.iso_SY {
    background-position: -368px -84px
}

.iso_SZ {
    background-position: -320px -84px
}

.iso_TC {
    background-position: -128px -96px
}

.iso_TD {
    background-position: -240px -12px
}

.iso_TF {
    background-position: -352px -24px
}

.iso_TG {
    background-position: -16px -96px
}

.iso_TH {
    background-position: -432px -84px
}

.iso_TJ {
    background-position: -400px -84px
}

.iso_TK {
    background-position: -32px -96px
}

.iso_TL {
    background-position: 0 -96px
}

.iso_TM {
    background-position: -112px -96px
}

.iso_TN {
    background-position: -80px -96px
}

.iso_TO {
    background-position: -48px -96px
}

.iso_TR {
    background-position: -96px -96px
}

.iso_TT {
    background-position: -64px -96px
}

.iso_TV {
    background-position: -144px -96px
}

.iso_TW {
    background-position: -384px -84px
}

.iso_TZ {
    background-position: -416px -84px
}

.iso_UA {
    background-position: -176px -96px
}

.iso_UG {
    background-position: -160px -96px
}

.iso_UM {
    background-position: -240px -96px
}

.iso_US {
    background-position: -224px -96px
}

.iso_UY {
    background-position: -256px -96px
}

.iso_UZ {
    background-position: -272px -96px
}

.iso_VA {
    background-position: -208px -36px
}

.iso_VC {
    background-position: -384px -72px
}

.iso_VE {
    background-position: -304px -96px
}

.iso_VG {
    background-position: -336px -96px
}

.iso_VI {
    background-position: -352px -96px
}

.iso_VN {
    background-position: -320px -96px
}

.iso_VU {
    background-position: -288px -96px
}

.iso_WF {
    background-position: -368px -96px
}

.iso_WS {
    background-position: -400px -72px
}

.iso_XK {
    background-position: -112px -48px
}

.iso_YE {
    background-position: -400px -96px
}

.iso_YT {
    background-position: -48px -60px
}

.iso_ZA {
    background-position: -192px -84px
}

.iso_ZM {
    background-position: -416px -96px
}

.iso_ZW {
    background-position: -432px -96px
}