$mainColor: #42618a;
$secounColor: #2f2f2f;
$titleColor: #1b1b1b;
$pargColor: #555;
$backgroundColor: #f4f4f4;
$paddingSection: 110px 0;


%gr_relative{
    position: relative;
    width: 100%;
    display: inline-block;
}


%floatLeft{
    float: left;
    width: 48%;
}

%floatRight{
    float: right;
    width: 48%;
}




%button{
    font-size: 15px;
    color: #fff;
    background: $mainColor;
    border: 1px solid $mainColor;
    transition: .5s;
    padding: 7px 23px;
    border-radius: 5px;
}


%buttonHover{
    color: $mainColor;
    background: #fff;
    border: 1px solid $mainColor;
}


%button_cancle{
    background-color: #fff;
    border-color: #fff;
    border: 0;
    padding: 7px 23px;
    color: $secounColor;
    font-size: 15px;
}

%button_delete{
    font-size: 15px;
    color: #fff;
    background: #e84c4cf2;
    border: 1px solid #e84c4cf2;
    transition: .5s;
    padding: 7px 23px;
    border-radius: 5px;
}


%formLabel{
    font-size: 14px;
    width: 100%;

}


%formInput{
    height: 40px;
    padding: 0 12px;
    border: 1px solid #a6afb8;
    border-radius: 4px;
    outline: none;
    vertical-align: middle;
    box-shadow: none;
    text-align: right;
    font-size: 12px;
    width: 80%;
    color: $secounColor;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 3px 1px #ddddddb5;
    background-position-x: 2%;
}

%card{
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    // max-width: 750px;
}


%topSection{
    @extend %gr_relative;
}


%title {
    float: right;

    h6 {
        font-size: 16px;
        font-weight: bold;
        color: #0f0f0f;
        margin-bottom: 11px;
    }

    h3 {
        font-size: 26px;
        font-weight: bold;
        color: #0f0f0f;
    }


}

%arrwos {
    float: left;

}
