/* Base setup */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


.footer .c_firstFooter {

    background:#F7F6F6 url(../images/foo_Background.png) center no-repeat;

}




.page_login{
    background:url(../images/h_slides.png) top center no-repeat;
    background-size: 100%;
}

/********/


.about_us{
    background:url(../images/aboutbackground.png) bottom left no-repeat;
    background-position-y: 95%;
}



 .c_relatednews h4:after{
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 55px;
    height: 8px;
    background:url(../images/relatedbg.png) bottom left no-repeat;
}




/* progress bar  */

.c_progress {
    padding: 0 !important;
    width:100%;
    height:30px;
    overflow:hidden;
    background:#e5e5e5;
    border-radius:10px;
  }

  .c_bar {
    position:relative;
    float:right;
    min-width:1%;
    height:100%;
    background:#0a0;
  }

  .c_percent {
      position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    font-family:tahoma,arial,helvetica;
    font-size:12px;
    color:white;
  }








/* Drop Down Styles
================================ */
 .drop-down {
    list-style: none;
    overflow: auto;
    height: 500px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
    background-color: #34495e;
    font-family: Arial;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    -webkit-transition: height 0.3s ease;
            transition: height 0.3s ease;
  }

   .drop-down.closed {
    /*  When toggled via jQuery this class will reduce the height of the ul which inconjuction
        with overflow: hidden set on the ul will hide all list items apart from the first */
    /* current li height 38px + 5px border */
    height: 0;
  }


   .drop-down li a {
    display: block;
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px; /* Larger touch target area */
  }

   /* .drop-down li:first-child a:after {
    content: "\25BC";
    float: right;
    margin-left: -30px;
    margin-right: 5px;
  } */


  /*********/


  /****************rate neww*******************/

  .c_review {
    display: flex;

    margin: 10px 0;

}

.c_review .c_rat_num {
    margin-right: 10px;
}

/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
    position: relative;
    color: #f9dfcc;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 15px;
    padding: 0 4px;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}

/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
    left: 0;
}



.c_check_star ~ label
{ color: #fda257;  }

thead.mdb-color.darken-3 {
    background: #42618a;
}
