.c_page_profile .c-left .c_commentMessage .c_box .c_body, .padding_left200, .container_750, .container_1033, .container_1200, .container_1300, .wrapper_1400 {
  position: relative;
  width: 100%;
  margin: 0px auto;
  padding: 0px 0px;
}

.footer, .c_page_courseDetails .c_info, .c_page_courseDetails .c_mainContent, div#mainContent {
  position: relative;
  width: 100%;
  display: inline-block;
}

.c_page_courseDetails .c_info2 .c_left .c_itm_prof, .c_page_courseDetails .c_info2 .c_right .c_box_show, .c_flex_center, .header .c_top_header ul a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**************************/
/**o**/
.slider .c_post .c_body h2 {
  font-size: 36px;
  color: #67328f;
}

.slider .c_post .c_body h3 {
  font-size: 30px;
  color: #5d52a3;
}

.about .c_post .c_body p, .slider .c_post .c_body p {
  font-size: 15px;
  color: #383838;
}

/**o**/
/******** title footer***********/
.footer .c_main_footer .c-title h3 {
  font-size: 16px;
  color: #67328f;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 40px;
  position: relative;
}

.footer .c_main_footer .c-title h3:after {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 3px solid #67328f;
  border-radius: 0;
  left: 0px;
  right: 0;
  top: 30px;
}

.footer .c_main_footer .c-body ul a {
  font-size: 15px;
  color: #383838;
  margin-bottom: 10px;
  transition: 0.5s;
  display: inline-block;
}
.footer .c_main_footer .c-body ul a:hover {
  color: #67328f;
}

/******** title cleint***********/
/**h***/
.c_page_courseDetails .c_brandas, .our_brands, .sales, .courses {
  padding: 50px 0;
  position: relative;
}

/***********PRODUCTS***********/
/***********sub_product_item***********/
/***********brands_item***********/
/***********brands_item***********/
/***********services_item***********/
/**** inner *******/
.inner-top {
  position: relative;
}
.inner-top .img-page {
  height: 100%;
}
.inner-top .img-page img {
  width: 100%;
  height: 260px;
}
.inner-top .title-page {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.inner-top .title-page h1 {
  font-size: 30px;
  color: #282828;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 10px;
  background: #ffffffa3;
}

.c_bar {
  width: 100%;
  height: 47px;
  background: #67328f;
}
.c_bar h3 {
  margin: 0;
  font-size: 25px;
  padding: 9px 19px;
}

/***** form **********/
/**** OUR STORE PAGNOIATION ***********/
.paginate-pagination ul {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px !important;
}
.paginate-pagination ul > li {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  transition: 0.5s;
}
.paginate-pagination ul > li > a {
  cursor: pointer;
  color: #000;
  border: 0px solid #ddd;
  box-shadow: 0 0 4px 1px #adadad73;
  transition: 0.8s;
}
.paginate-pagination ul > li > a.page.active {
  opacity: 1 !important;
  cursor: default;
  background: #67328f;
  color: #fff;
  /* box-shadow: 0 0 10px grey; */
}
.paginate-pagination ul > li > a.page:hover {
  opacity: 0.7;
  background: #67328f;
  color: #fff;
}

/************* NEW ***************/
.c_page_courses .c_item, .courses .c_item {
  display: flex;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 6px #80808059;
  margin: 10px;
  height: 200px;
  transition: 0.5s;
}
.c_page_courses .c_item:hover, .courses .c_item:hover {
  box-shadow: 0 0 6px gray;
}
.c_page_courses .c_item .c_image, .courses .c_item .c_image {
  width: 50%;
}
.c_page_courses .c_item .c_image img, .courses .c_item .c_image img {
  height: 100%;
  border-radius: 0 20px 20px 0;
}
.c_page_courses .c_item .c_post, .courses .c_item .c_post {
  width: 50%;
  padding: 20px;
}
.c_page_courses .c_item .c_post .c_body h3, .courses .c_item .c_post .c_body h3 {
  font-size: 14px;
  color: #67328f;
  font-weight: bold;
  margin-bottom: 15px;
}
.c_page_courses .c_item .c_post .c_body p, .courses .c_item .c_post .c_body p {
  font-size: 13px;
  margin-bottom: 15px;
  color: #383838;
}
.c_page_courses .c_item .c_post .c_tech, .courses .c_item .c_post .c_tech {
  display: flex;
  align-items: center;
}
.c_page_courses .c_item .c_post .c_tech img, .courses .c_item .c_post .c_tech img {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 13px;
}
.c_page_courses .c_item .c_post .c_tech span, .courses .c_item .c_post .c_tech span {
  font-size: 11px;
}
.c_page_courses .c_item .c_post .c_buttn, .courses .c_item .c_post .c_buttn {
  display: flex;
  justify-content: space-between;
}
.c_page_courses .c_item .c_time, .courses .c_item .c_time {
  position: absolute;
  right: 25px;
  bottom: 15px;
  background: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  color: #656464;
  font-size: 10px;
}
.c_page_courses .c_item .c_time i, .courses .c_item .c_time i {
  margin-left: 5px;
}

.c_page_courseDetails .c_brandas .swiper-pagination .swiper-pagination-bullet-active, .our_brands .swiper-pagination .swiper-pagination-bullet-active, .courses .swiper-pagination .swiper-pagination-bullet-active, .slider .c_imgs .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #5d52a3 !important;
  border: 2px solid #EBEAEE !important;
}
.c_page_courseDetails .c_brandas .swiper-pagination .swiper-pagination-bullet, .our_brands .swiper-pagination .swiper-pagination-bullet, .courses .swiper-pagination .swiper-pagination-bullet, .slider .c_imgs .swiper-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  display: inline-block;
  border-radius: 50%;
  background: #0000;
  opacity: 1;
  border: 2px solid #5d52a3;
}

/**o**/
.c_page_courseDetails .c_info .c_right .c_title {
  font-size: 16px;
  color: #67328f;
  margin-bottom: 33px;
  position: relative;
}
.c_page_courseDetails .c_info .c_right .c_title::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #67328f;
  position: absolute;
}

.c_page_courseDetails .c_info .c_right .c_body {
  font-size: 13px;
  color: #383838;
  text-align: justify;
}

.c_page_courseDetails .c_info .c_right .c_tafsell {
  display: flex;
  margin-top: 20px;
}
.c_page_courseDetails .c_info .c_right .c_tafsell .c_itme {
  margin-left: 30px;
  color: #67328f;
}
.c_page_courseDetails .c_info .c_right .c_tafsell .c_itme p {
  margin: 0;
}
.c_page_courseDetails .c_info .c_right .c_tafsell .c_itme img {
  margin-left: 10px;
}
.c_page_courseDetails .c_info .c_right .c_tafsell label {
  font-size: 14px;
}
.c_page_courseDetails .c_info .c_right .c_tafsell span {
  font-size: 12px;
}

.c_page_courseDetails .c_info2 .c_left .c_itm_prof, .c_page_courseDetails .c_info2 .c_right .c_box_show, .c_page_courseDetails .c_info .c_left .c_box_subscribe, .c_page_courseDetails .c_info .c_right .c_itms {
  box-shadow: 0 0 6px 0px #c7c7c766;
  border-radius: 5px;
}

/**o**/
/***********HEADER************/
.header .c_top_header {
  padding: 13px 0;
  border-bottom: 2px solid #fafafa;
}
.header .c_top_header .c_menus_top {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header .c_top_header ul {
  display: flex;
  justify-content: flex-end;
}
.header .c_top_header ul.c_social a {
  transition: 0.5s;
  color: #cacaca;
}
.header .c_top_header ul.c_social a:hover {
  color: #67328f;
}
.header .c_top_header ul.c_social li {
  margin-left: 15px;
}
.header .c_top_header ul.c_one li {
  margin-right: 15px;
}
.header .c_top_header ul.c_one li a {
  font-weight: bold;
}
.header .c_top_header ul.c_one li:nth-child(1) a {
  font-size: 10px;
  color: #67328f;
  padding: 5px 10px;
}
.header .c_main_header {
  padding: 10px 0;
  border-bottom: 2px solid #fafafa;
}
.header .c_main_header nav.navbar {
  padding: 0;
}
.header .c_main_header nav.navbar .logo {
  padding: 0;
}
.header .c_main_header .c_main_menu li.nav-item a.nav-link {
  color: #67328f;
  font-size: 14px;
  padding: 5px 15px;
  transition: 0.5s;
  border-radius: 20px;
}
.header .c_main_header .c_main_menu li.nav-item a.nav-link:hover {
  color: #5d52a3;
  background: #f9f9f9;
}
/***********GRID************/
.container_1300 {
  max-width: 1300px;
}

.container_1200 {
  max-width: 1200px;
}

.container_1033 {
  max-width: 1033px;
}

.container_750 {
  max-width: 750px;
}

.padding_left200 {
  padding-left: 200px;
}

/***********GLOBAL PAGE************/
* {
  font-family: "TajawalRegular";
}

html {
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  display: inline !important;
}

/**********home*************/
/**********inners*************/
div#mainContent {
  padding: 100px 0;
}

input#quantity {
  border: 0;
  background: #f4f4f4;
  width: 100%;
  height: 45px;
  text-align: center;
}

#i_show_num {
  transition: all 1s ease;
}

.c_show_num {
  /* float: $float_right; */
  display: flex;
  height: 100%;
  justify-content: end;
  align-items: center;
}
.c_show_num a {
  margin: 0 5px;
  cursor: pointer;
}
.c_show_num i {
  display: inline-block;
  color: #fff;
  font-size: 25px;
}

.c_flex_center {
  height: 100%;
}

/**********/
.c_title_top {
  background: #f9f9f9;
  padding: 30px 0;
}
.c_title_top .title_page h1 {
  font-size: 16px;
  font-weight: bold;
  color: #5d52a3;
}

/***********HOME PAGE************/
/****************************************************************/
/****************************************************************/
/*************************slider*********************************/
/****************************************************************/
/****************************************************************/
.slider {
  padding-top: 60px;
  padding-bottom: 50px;
  box-shadow: 0px 8px 10px 5px #97979724 inset;
}
.slider .row {
  align-items: center;
}
.slider .c_post {
  max-width: 80%;
}
.slider .c_post .c_body p {
  margin-top: 20px;
}
.slider .c_post .c_buttn a:first-child {
  margin-left: 15px;
}
.slider .c_post .c_buttn {
  margin-top: 30px;
}
.slider .c_imgs {
  position: relative;
}
.slider .c_imgs .c_bgimg {
  position: absolute;
}
.slider .c_imgs .c_bgimg.c_bg_1 {
  left: 0;
}
.slider .c_imgs .c_bgimg.c_bg_2 {
  bottom: 30px;
  z-index: 99;
}
.slider .c_imgs .c_item img {
  border-radius: 74% 26% 58% 42%/39% 24% 76% 61%;
  width: 450px;
  height: 430px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .c_imgs .swiper-pagination {
  bottom: 0 !important;
  text-align: left;
  right: 0 !important;
  left: auto !important;
  width: auto !important;
}

/****************************************************************/
/****************************************************************/
/*************************about*********************************/
/****************************************************************/
/****************************************************************/
.about {
  padding: 75px 0 50px;
  background: #fbf7f5;
}
.about .row {
  align-items: center;
}
.about .c_post .c_body h2 {
  font-size: 28px;
  color: #67328f;
  margin-bottom: 20px;
  padding-right: 20px;
  border-right: 2px solid #67328f;
}
.about .c_post .c_body h3 {
  font-size: 26px;
  font-weight: bold;
  color: #222;
  margin-bottom: 25px;
}
.about .c_post .c_body p {
  margin-top: 20px;
}
.about .c_post .c_buttn a {
  margin-left: 15px;
}
.about .c_post .c_buttn {
  margin-top: 30px;
}
.about .c_post .c_num {
  display: flex;
  margin-top: 40px;
}
.about .c_post .c_num .c_item {
  width: 33%;
  display: flex;
  transition: 0.5s;
}
.about .c_post .c_num .c_item:hover .c_icon {
  background: #67328f;
  color: #fff;
}
.about .c_post .c_num .c_item:hover .c_bdu {
  color: #67328f;
}
.about .c_post .c_num .c_icon {
  width: 40px;
  height: 40px;
  background: #fff;
  color: #383838;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-left: 27px;
  transition: 0.5s;
}
.about .c_post .c_num .c_bdu {
  color: #383838;
  transition: 0.5s;
}
.about .c_post .c_num .c_bdu span {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  line-height: 20px;
}
.about .c_post .c_num .c_bdu p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  line-height: 20px;
}
.about .c_image {
  background: url(/front_end_style/images/Untitled-8.png) no-repeat center;
  text-align: center;
  padding: 20px;
}
.about .c_image img {
  width: 465px;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 70px;
}

/****************************************************************/
/****************************************************************/
/*************************courses*********************************/
/****************************************************************/
/****************************************************************/
.courses .swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: inherit;
}
.courses .swiper-slide {
  margin-top: 0 !important;
  margin-bottom: 25px;
}
.courses .swiper-pagination {
  bottom: 0 !important;
  text-align: center;
}

/****************************************************************/
/****************************************************************/
/*************************sales*********************************/
/****************************************************************/
/****************************************************************/
.sales .c_slick_sales {
  direction: ltr;
}
.sales .c_slick_sales .c_body {
  background: url(/front_end_style/images/bfswa.png) no-repeat center;
  border-radius: 100px;
  padding: 35px 100px;
  color: #fff;
  text-align: center;
}
.sales .c_slick_sales .c_body h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.sales .c_slick_sales .c_body p {
  font-size: 12px;
  margin-bottom: 0;
}
.sales .c_slick_sales .slick-center {
  transform: scale(1.5);
}
.sales .c_slick_sales .slick-list {
  padding: 100px 0 !important;
}
.sales .c_slick_sales .c_item {
  transition: 0.5s;
}
.sales ul.slick-dots {
  display: flex;
  justify-content: center;
}
.sales ul.slick-dots li {
  margin: 0 4px;
}
.sales ul.slick-dots li button {
  width: 13px;
  height: 13px;
  display: inline-block;
  border-radius: 50%;
  background: #0000;
  opacity: 1;
  border: 2px solid #5d52a3;
  font-size: 0;
  padding: 0;
}
.sales ul.slick-dots li.slick-active button {
  opacity: 1;
  background: #5d52a3 !important;
  border: 2px solid #EBEAEE !important;
}

/****************************************************************/
/****************************************************************/
/*************************sales*********************************/
/****************************************************************/
/****************************************************************/
.our_brands .c_section_title {
  margin-bottom: 10px;
}
.our_brands .c_item {
  text-align: center;
  width: 100%;
  height: 100px;
  transition: 0.5s;
}
.our_brands .c_item:hover {
  transform: scale(1.1);
}
.our_brands .c_item img {
  transition: 0.5s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
}
.our_brands .c_item img:hover {
  filter: none;
}
.our_brands .swiper-pagination {
  bottom: 0 !important;
  text-align: center;
}

/****************************************************************/
/****************************************************************/
/*************************c_page_profile***************************/
/****************************************************************/
/****************************************************************/
.c_page_profile .c-right {
  float: right;
  width: 37%;
  padding: 100px 0;
}
.c_page_profile .c-right .quieq_tap ul {
  display: block;
}
.c_page_profile .c-right .c_searchc {
  width: 340px;
  margin: auto;
  margin-bottom: 44px;
}
.c_page_profile .c-right .c_searchc input {
  padding: 15px 35px;
  width: 100%;
  height: 45px;
  border-radius: 35px !important;
}
.c_page_profile .c-right .c_searchc input::-moz-placeholder {
  font-size: 18px;
  color: #a8a8a8;
}
.c_page_profile .c-right .c_searchc input:-ms-input-placeholder {
  font-size: 18px;
  color: #a8a8a8;
}
.c_page_profile .c-right .c_searchc input::placeholder {
  font-size: 18px;
  color: #a8a8a8;
}
.c_page_profile .c-right .nav-tabs .nav-item.show .nav-link,
.c_page_profile .c-right .nav-tabs .nav-link.active,
.c_page_profile .c-right .nav-tabs .nav-link:focus, .c_page_profile .c-right .nav-tabs .nav-link:hover {
  border: 0;
  border-radius: 0;
}
.c_page_profile .c-right .nav-tabs .nav-link {
  font-size: 15px;
  font-weight: bold;
  color: #67328f;
  padding: 15px 140px;
  border: 0;
  border-radius: 0;
}
.c_page_profile .c-right .nav-tabs .nav-item.show .nav-link,
.c_page_profile .c-right .nav-tabs .nav-link.active,
.c_page_profile .c-right .nav-tabs .nav-link:hover {
  color: #67328f;
  background-color: #f5f5f5;
}
.c_page_profile .c-left {
  float: left;
  width: 63%;
  padding: 75px 0;
  box-shadow: inset -2px -3px 5px 0px #d4d4d4d1;
}
.c_page_profile .c-left .row {
  margin: auto !important;
}
.c_page_profile .c-left .c_editInfo {
  padding: 0 50px 0 100px;
}
.c_page_profile .c-left .c_editInfo .c_imgchosee > label {
  width: 100px !important;
  height: 100px;
}
.c_page_profile .c-left .c_editInfo .c_imgchosee .c_editm {
  position: absolute;
  bottom: 20px;
  right: 2px;
}
.c_page_profile .c-left .c_editInfo .c_imgchosee span {
  font-size: 19px;
  font-weight: bold;
  color: #67328f;
  margin-right: 40px;
}
.c_page_profile .c-left .c_editInfo .c_imgUp input {
  display: none;
}
.c_page_profile .c-left .c_editInfo .c_imgUp {
  width: 100%;
  height: 100%;
}
.c_page_profile .c-left .c_editInfo .c_imgUp img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.c_page_profile .c-left .c_editInfo .form-group {
  margin-bottom: 44px;
}
.c_page_profile .c-left .c_editInfo .form-group label {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #4c4c4c;
  margin-bottom: 18px;
}
.c_page_profile .c-left .c_editInfo .form-group > input,
.c_page_profile .c-left .c_editInfo .form-group > select,
.c_page_profile .c-left .c_editInfo .form-group .select2-selection {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 6px 12px;
  text-align: right;
}
.c_page_profile .c-left .c_statususerwx h4 {
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.c_page_profile .c-left .c_statususerwx label {
  margin-bottom: 0;
  margin-left: 15px;
}
.c_page_profile .c-left .c_statususerwx span {
  font-size: 14px;
}
.c_page_profile .c-left .c_statususerwx a {
  color: #67328f;
}
.c_page_profile .c-left .c_commentMessage {
  padding: 0 100px;
  position: relative;
}
.c_page_profile .c-left .c_commentMessage .c_box {
  padding: 50px 35px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 30px;
  display: flex;
}
.c_page_profile .c-left .c_commentMessage .c_box .c_image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.c_page_profile .c-left .c_commentMessage .c_textare textarea {
  padding: 25px 30px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 100%;
  height: 180px;
}
/****************************************************************/
/****************************************************************/
/*************************c_page_courses***************************/
/****************************************************************/
/****************************************************************/
.c_page_courses .c_item {
  margin: 15px 0;
}
.c_page_courses .c_block {
  padding: 40px 0;
}

/****************************************************************/
/****************************************************************/
/*************************c_page_courseDetails***************************/
/****************************************************************/
/****************************************************************/
.c_page_courseDetails .c_mainContent {
  padding: 50px 0;
}
.c_page_courseDetails .c_info {
  padding-bottom: 45px;
}
.c_page_courseDetails .c_info .c_right {
  width: 70%;
  float: right;
}
.c_page_courseDetails .c_info .c_right .c_itms {
  padding: 35px;
}
.c_page_courseDetails .c_info .c_left {
  width: 27%;
  float: left;
}
.c_page_courseDetails .c_info .c_left .c_box_subscribe video#myvideo {
  width: 100%;
  height: 190px;
  /* border: 2px solid #0b8585; */
}
.c_page_courseDetails .c_info .c_left .c_box_subscribe .c_btn_subscribe {
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c_page_courseDetails .c_info .c_left .c_box_subscribe .c_btn_subscribe a {
  width: 65%;
  text-align: center;
}
.c_page_courseDetails .c_brandas {
  background: #f9f9f9;
}
.c_page_courseDetails .c_brandas .c_section_title {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}
.c_page_courseDetails .c_brandas .c_item {
  text-align: center;
  width: 100%;
  height: 100px;
  transition: 0.5s;
}
.c_page_courseDetails .c_brandas .c_item:hover {
  transform: scale(1.1);
}
.c_page_courseDetails .c_brandas .c_item img {
  transition: 0.5s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
}
.c_page_courseDetails .c_brandas .c_item img:hover {
  filter: none;
}
.c_page_courseDetails .c_brandas .swiper-pagination {
  bottom: -7px !important;
  text-align: center;
}
.c_page_courseDetails .c_info2 {
  margin-top: 40px;
}
.c_page_courseDetails .c_info2 .c_right {
  width: 38%;
  float: right;
}
.c_page_courseDetails .c_info2 .c_right .c_box_show {
  padding: 50px 0 40px;
}
.c_page_courseDetails .c_info2 .c_right .c_bloc .c_img {
  margin-bottom: 30px;
}
.c_page_courseDetails .c_info2 .c_right .c_bloc img {
  width: 175px;
  height: 130px;
}
.c_page_courseDetails .c_info2 .c_right .c_bloc .c_btn_subscribe a {
  width: 100%;
  text-align: center;
}
.c_page_courseDetails .c_info2 .c_left {
  width: 58%;
  float: left;
}
.c_page_courseDetails .c_info2 .c_left .c_itm_prof {
  justify-content: flex-start;
  padding: 40px 80px;
}
.c_page_courseDetails .c_info2 .c_left .c_itm_prof img {
  border-radius: 100%;
  width: 170px;
  height: 170px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-left: 44px;
}
.c_page_courseDetails .c_info2 .c_left .c_itm_prof .c_bdy {
  color: #67328f;
}
.c_page_courseDetails .c_info2 .c_left .c_itm_prof .c_bdy span {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #67328f;
  margin-bottom: 10px;
}
.c_page_courseDetails .c_info2 .c_left .c_itm_prof .c_bdy h6 {
  font-size: 13px;
  color: #67328f;
}

/***************************************/
/************ STYLE BUTTONS ************/
/***************************************/
.header .c_top_header ul.c_one li:nth-child(2) a, .c_page_profile .c-left .c_editInfo .c_btnn button, .c_page_profile .c-left .c_commentMessage button {
  font-size: 10px;
  background: #67328f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  transition: 0.5s;
  display: inline-block;
}
.header .c_top_header ul.c_one li:nth-child(2) a:hover, .c_page_profile .c-left .c_editInfo .c_btnn button:hover, .c_page_profile .c-left .c_commentMessage button:hover {
  background: #f9f9f9;
  color: #67328f;
}

.slider .c_post .c_buttn a:first-child, .about .c_post .c_buttn a {
  font-size: 11px;
  font-weight: bold;
  background: #67328f;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  transition: 0.5s;
  display: inline-block;
}
.slider .c_post .c_buttn a:hover:first-child, .about .c_post .c_buttn a:hover {
  background: #f9f9f9;
  color: #67328f;
}

.slider .c_post .c_buttn a:nth-child(2), .courses .c_item .c_post .c_buttn a, .c_page_courses .c_item .c_post .c_buttn a {
  font-size: 11px;
  font-weight: bold;
  background: #f9f9f9;
  color: #67328f;
  padding: 10px 20px;
  border-radius: 20px;
  transition: 0.5s;
  display: inline-block;
}
.slider .c_post .c_buttn a:hover:nth-child(2), .courses .c_item .c_post .c_buttn a:hover, .c_page_courses .c_item .c_post .c_buttn a:hover {
  background: #67328f;
  color: #f9f9f9;
}

.c_page_courseDetails .c_info .c_left .c_box_subscribe .c_btn_subscribe a, .c_page_courseDetails .c_info2 .c_right .c_bloc .c_btn_subscribe a {
  font-size: 11px;
  background: #67328f;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  transition: 0.5s;
  display: inline-block;
}
.c_page_courseDetails .c_info .c_left .c_box_subscribe .c_btn_subscribe a:hover, .c_page_courseDetails .c_info2 .c_right .c_bloc .c_btn_subscribe a:hover {
  background: #f9f9f9;
  color: #67328f;
}

/**************/
.c_selectl select {
  border-radius: 0;
  border-color: #dadada;
  height: 42px;
  font-size: 13px;
  color: #67328f;
  text-transform: capitalize;
  cursor: pointer;
}

.c_selectl select:hover {
  border-color: #67328f;
}

/**/
.header .c_main_header .c_search form {
  position: relative;
  width: 300px;
}

.header .c_main_header .c_search input.form-control {
  width: 100% !important;
  height: 45px;
  border: 0;
  border-radius: 20px;
  padding-right: 60px;
  background: #f9f9f9;
  font-size: 12px;
  font-weight: bold;
}

.header .c_main_header .c_search button {
  position: absolute;
  padding: 0;
  right: 30px;
  border: 0;
  background: none;
  color: #67328f;
}

.c_section_title {
  text-align: center;
  font-size: 28px;
  color: #67328f;
  margin-bottom: 50px;
}

.footer {
  background: url(/front_end_style/images/bgfooter.png) no-repeat right;
  background-size: auto 100%;
  border-top: 5px solid #67328f;
}
.footer .c_parg {
  font-size: 15px;
  color: #383838;
  margin: 20px 0;
}
.footer .c_social {
  display: flex;
}
.footer .c_social a {
  transition: 0.5s;
  color: #cacaca;
}
.footer .c_social a:hover {
  color: #67328f;
}
.footer .c_social li {
  margin-left: 15px;
}
.footer .c_main_footer {
  padding: 50px 0 30px;
}
.footer .c_main_footer .logofooter img {
  width: 210px;
}
.footer .c_main_footer .c-title h3 a {
  color: #67328f;
}
.footer .c_main_footer .c-body ul li i {
  margin-left: 10px;
}
