
// fonts
$font_Main: 'TajawalRegular';

//direction
$float_left: left;
$float_right: right;

//color
$main_color: #67328f;
$second_color: #5d52a3;
$font_color: #383838;
$title_color: #000;
$hint_colro: #cacaca;
$bg_product: #f6f5f5;
$parg_color: #535353;

$hover_color: #525457;
$index_color: #424242;
$bg_active_color: #f3f3f3;


$btn_hover: #f9f9f9




