/*  04. banner section css here  */
.banner_area{
    background: #F9F9F9;
}
.banner_thumb{
    overflow: hidden;
    position: relative;
     @media #{$tablet-device}{
        text-align: center;
    }
    @media #{$large-mobile}{
        text-align: center;
    }
    &:hover{
        & img{
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    & a{
        
        @media #{$tablet-device}{
            width: 100%;
        }
        @media #{$large-mobile}{
            width: 100%;
        }
        & img{
            @include transition(.5s);
            @media #{$tablet-device}{
                width: 100%;
            }
            @media #{$large-mobile}{
                width: 100%;
            }
        }
    }
}


.banner_text {
	position: absolute;
	bottom: 20px;
    left: 50%;
    transform: translatex(-50%);
	text-align: center;
    & a{
        padding: 8px 23px;
        box-shadow: 0px 1px 6.79px 0.21px rgba(0, 0, 0, 0.13);
        background: $white;
        display: inline-block;
        text-transform: uppercase;
        &:hover{
            background: $secondary_color;
            color: $white;
        }
         @media #{$tablet-device}{
            padding: 7px 12px;
        }
        @media #{$large-mobile}{
            font-size: 12px;
            padding: 6px 12px;
        }
        
    }
}
.banner_area{
    @media #{$tablet-device}{
        padding-bottom: 50px;
    }
    @media #{$large-mobile}{
        padding-bottom: 30px;
    }
}
.single_banner{
    @media #{$large-mobile}{
        margin-bottom: 30px;
    }
}
.single_banner.mb-30 {
     @media #{$desktop-device}{
        margin-bottom: 23px;
    }
	@media #{$tablet-device}{
        margin-bottom: 24px;
    }
}
.banner_sidebar{
    @media #{$tablet-device}{
        display: flex;
        margin-top: 30px;
    }
    & .single_banner {
        @media #{$tablet-device}{
            margin-right: 30px;
            width: 50%;
            &:last-child{
                margin-right: 0;
            }
        }
        
    }
    
}


/*home two css here*/
.banner_content {
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
	left: 0;
	right: 0;
	text-align: center;
    opacity: 0;
    visibility: hidden;
     @include transition(.3s);
    z-index: 9;
    & h3{
        font-size: 60px;
        line-height: 60px;
        font-weight: 400;
        text-transform: capitalize;
        color: $white;
        font-family: $Pacifico;
        margin-bottom: 0;
        @media #{$laptop-device}{
           font-size: 39px;
            line-height: 39px;
        }
        @media #{$desktop-device}{
            font-size: 32px;
            line-height: 32px;
        }
        @media #{$tablet-device}{
            font-size: 28px;
            line-height: 28px;
        }
        @media #{$large-mobile}{
            font-size: 30px;
            line-height: 30px;
        }
    }
    & h2{
        font-size: 50px;
        line-height: 50px;
        font-weight: 700;
        text-transform: uppercase;
        color: $white;
        margin: 40px 0 50px;
        @media #{$laptop-device}{
           font-size: 32px;
            line-height: 32px;
        }
        @media #{$desktop-device}{
            margin: 26px 0 36px;
            font-size: 25px;
            line-height: 26px;
        }
        @media #{$tablet-device}{
            font-size: 21px;
            line-height: 24px;
            margin: 15px 0 22px;
        }
        @media #{$large-mobile}{
            font-size: 18px;
            line-height: 20px;
            margin: 15px 0 22px;
        }
    }
    & a{
        font-size: 14px;
        font-weight: 700;
        color: $white;
        display: inline-block;
        border: 2px solid $white;
        padding: 7px 20px;
        text-transform: uppercase;
        &:hover{
            color: $secondary_color2;
        }
        @media #{$desktop-device}{
            padding: 5px 14px;
        }
        @media #{$tablet-device}{
            padding: 5px 12px;
            width: 117px;
        }
        @media #{$large-mobile}{
            padding: 5px 12px;
            width: 117px;
        }
    }
}

.banner_section_two{
    @media #{$large-mobile}{
        margin-bottom: 27px;
    }
    & .single_banner{
        position: relative;
        &:hover{
            & .banner_content{
                opacity: 1;
                visibility: visible;
            }
            &::before{
                opacity: 1;
            }
        }
        &::before{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,.3);
            opacity: 0;
            z-index: 1;
            pointer-events: none;
            @include transition(.3s);
        }
    }
}


/*home three css here*/
.banner_three{
    @media #{$tablet-device}{
        padding-bottom: 40px;
    }
    @media #{$large-mobile}{
        padding-bottom: 30px;
        padding-top: 60px;
    }
    & .banner_text{
        left: 0;
        right: 0;
        transform: inherit;
        & a{
            &:hover{
                background: $secondary_color3;
            }
        }
        @media #{$tablet-device}{
            left: 20%;
            right: 20%;
        }
        @media #{$large-mobile}{
            left: 20%;
            right: 20%;
        }
    }
    & .single_banner{
        @media #{$tablet-device}{
            margin-bottom: 30px;
        }
        @media #{$large-mobile}{
            margin-bottom: 30px;
        }
    }
}


.banner_three_column2{
    background: inherit;
    @media #{$tablet-device}{
        padding-bottom: 0;
    }
    @media #{$large-mobile}{
        padding-bottom: 0;
    }
    & .single_banner{
        @media #{$large-mobile}{
            margin-bottom: 30px;
        }
    }
    
}

/*home four css here*/
.banner_four{
    background: inherit;
    @media #{$tablet-device}{
        padding-bottom: 0;
    }
    @media #{$large-mobile}{
        padding-bottom: 0;
        margin-bottom: 30px;
    }
}

.banner_three_column2.mb-56 {
    @media #{$large-mobile}{
        margin-bottom: 25px;
    }
	
}













