/* 05. blog area css here */
.blog_area{
    @media #{$large-mobile}{
        padding-top: 10px;
        margin-bottom: 55px;
    }
}
.blog_gallery{
    & .col-lg-4{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.blog_content{
    & h4{
        font-size: 18px;
        line-height: 21px;
        font-weight: 600;
        margin-bottom: 4px;
        @media #{$large-mobile}{
            font-size: 17px;
        }
        & a{
            &:hover{
                color: $secondary_color;
            }
        }
    }
    & span{
        line-height: 24px;
        margin-bottom: 12px;
        display: block;
        @media #{$large-mobile}{
            margin-bottom: 10px;
        }
        & a{
            &:hover{
                color: $secondary_color;
            }
        }
    }
    & p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 14px;
        @media #{$large-mobile}{
            margin-bottom: 13px;
        }
    }
    & > a{
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;
        text-decoration: underline;        
        &:hover{
            color: $secondary_color;
        }
    }
}


.blog_thumb {
	margin-bottom: 20px;
    & a{
        @media #{$large-mobile}{
            width: 100%;
        } 
        & img{
            @media #{$large-mobile}{
                width: 100%;
            }
        }
    }
}

/*home three css here*/
.blog_three{
    background: #F9F9F9;
    padding: 70px 0;
    @media #{$large-mobile}{
        padding: 60px 0;
    }
    & .blog_thumb{
        position: relative;
        overflow: hidden;
        &:hover{
            & img{
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -o-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
        & a{
            & img{
                @include transition(.3s);
            }
        }
    }
    & .blog_content{
        padding: 0 20px 23px;
        & h3{
            & a{
                &:hover{
                  color: $secondary_color3;  
                }
            }
        }
        & > a{
            &:hover{
                color: $secondary_color3; 
            }
        }
    }
    & .single_blog{
        background: $white;
    }
}

.articles_date{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    background: $white;
    box-shadow: 0px 1px 6.79px 0.21px rgba(0, 0, 0, 0.08);
    text-align: center;
    & span{
        text-transform: uppercase;
        display: block;
        line-height: 13px;
        &.date{
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 5px;
            line-height: 28px;
        }
    }
}

/* --Home Five-- */
.home-five_wrapper{
    .blog_column2 .single_blog {
        display: flex;
        padding: 30px 0;
        @media #{$tablet-device} {
            padding: 30px;
        }
        @media #{$large-mobile} {
            padding: 0;
            display: block;
        }
    }
    .blog_column2 .blog_thumb {
        margin-bottom: 0;
        height: 100%;
        display: block;
        width: 100%;
    }
    .blog_column2 .blog_content {
        padding: 0 0 0 20px;
        @media #{$large-mobile} {
            padding: 20px;
        }
    }
}





