/* 11. blog page css here */
.main_blog_area{
    background: #F9F9F9;
    padding: 54px 0 60px;
}
.blog_wrapper{
    & .single_blog{
        margin-bottom: 57px;
        &:last-child{
            margin-bottom: 0;
        }
        @media #{$large-mobile}{
            margin-bottom: 50px;
        }
    }
}


.blog_title{
    margin-bottom: 30px;
    @media #{$large-mobile}{
        margin-bottom: 20px;
    }
    & h2{
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 20px;
        @media #{$large-mobile}{
            font-size: 16px;
            margin-bottom: 18px;    
            line-height: 18px;
        }
        & a{
            &:hover{
                color: $secondary_color;
            }
        }
    }
}

.blog_post{
    padding: 10px 0;
    border-top: 1px solid $grey_color;
    border-bottom: 1px solid $grey_color;
    & ul{
        & li{
            display: inline-block;
            display: inline-block;
            font-size: 13px;
            margin-right: 12px;
            padding-right: 12px;
            position: relative;
            &:last-child{
                margin: 0;
                padding: 0;
                &::before{
                    display: none;
                }
            }
            &::before{
                position: absolute;
                content: "";
                width: 1px;
                height: 12px;
                background: #808080;
                right: 0;
                top: 50%;
                transform: translatey(-50%);
            }
        }
    }
}

.blog_header{
    & h1{
        font-size: 36px;
        line-height: 36px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 22px;
        @media #{$large-mobile}{
            font-size: 30px;
            line-height: 30px;
        }
    }
}

.blog_social{
    display: flex;
    align-items: center;
    & ul{
        & li{
            display: inline-block;
            & a{
                font-size: 13px;
                line-height: 26px;
                height: 26px;
                width: 26px;
                text-align: center;
                color: #353535;
                margin-right: 10px;
                background: $white;
                display: block;
                border-radius: 50%;
                @media #{$tablet-device}{
                    margin-right: 6px;
                }
                @media #{$large-mobile}{
                    font-size: 12px;
                    line-height: 24px;
                    height: 24px;
                    width: 24px;
                    margin-right: 3px;
                }
                &:hover{
                    background: $secondary_color;
                    color: $white;
                }
            }
        }
    }
    & h3{
        font-size: 14px;
        line-height: 20px;
        margin: 0 20px 0 0;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.blog_footer {
	display: flex;
	justify-content: space-between;
    margin-top: 25px;
    @media #{$large-mobile}{
        margin-top: 17px;
        flex-direction: column;
    }
}


.blog_pagination{
    & .pagination{
        justify-content: center;
        border: 1px solid $grey_color;
        padding: 10px;
    }
}

.blog_aduio_icone{
    margin-top: 30px;
    @media #{$large-mobile}{
        margin-bottom: 15px;
    }
    & audio{
        width: 100%;
    }
}
.blog_container{
    & .blog_thumb{
        margin-bottom: 0;
        @media #{$large-mobile}{
            margin-bottom: 17px;
        }
    }
    & .blog_content{
        & > a{
            padding: 0px 25px;
            background: $fonts_color;
            text-transform: uppercase;
            font-size: 13px;
            color: $white;
            line-height: 40px;
            height: 40px;
            display: inline-block;
            text-decoration: none;
            font-weight: 600;
            &:hover{
                background: $secondary_color;
            }
            @media #{$small-mobile}{
                padding: 0px 16px;
                line-height: 36px;
                height: 36px;
            }
        }
        & p{
            margin-bottom: 25px;
            @media #{$small-mobile}{
                font-size: 15px;
                margin-bottom: 19px;
            }
        }
    }
}
.blog_thumb_active{
    &:hover{
        & .owl-nav{
            & div{
                opacity: 1;
                visibility: visible;
                left: 20px;
                &.owl-next{
                    right: 20px;
                }
            }
        }
    }
    & .owl-nav{
        & div{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            line-height: 38px;
            background: rgba(0, 0, 0, 0.5);
            text-align: center;
            color: $body-color;
            font-size: 20px;
            border-radius: 50%;
            left: 50px;
            opacity: 0;
            visibility: hidden;
            @include transition(.3s);
            &:hover{
                background: rgba(234, 0, 13, 0.5);
            }
            &.owl-next{
                right: 50px;
                left: auto;
            }
        }
    }
}
.blog_comment{
    @media #{$large-mobile}{
        text-align: left;
	    margin-top: 8px;
    }
    & a{
        &:hover{
            color: $secondary_color;
        }
    }
	
}

/*blog fullwidth css here*/
.blog_fullwidth{
    & .single_blog{
        margin-bottom: 57px;
        @media #{$large-mobile}{
            margin-bottom: 50px;
        }
    }
    & .blog_thumb{
        margin-bottom: 22px;
    }
    & .blog_content{
        text-align: center;
        & p{
            max-width: 670px;
            margin: 0 auto;
        }
        & > a{
            margin-top: 24px;
        }
    }
    & .blog_footer{
        justify-content: center;
    }
    & .blog_comment{
        margin-left: 50px;
        @media #{$large-mobile}{
            margin-left: 0;
        }
    }
    & .blog_title{
        text-align: center;
    }
    & .blog_aduio_icone{
        margin-bottom: 15px;
    }
    
}



/*13. blog  sidebar css here*/
.blog_sidebar_widget{
    @media #{$tablet-device}{
        margin-top: 60px;
    }
    @media #{$large-mobile}{
        margin-top: 60px;
    }
    & .widget_list{
        border: 1px solid $grey_color;
        padding: 0;
        & h2{
            font-size: 14px;
            margin-bottom: 25px;
            padding-bottom: 10px;
            text-transform: uppercase;
            font-weight: 600;
            line-height: 20px;
            border-bottom: 1px solid $grey_color;
            background: $fonts_color;
            border-radius: 3px 3px 0 0;
            color: $white;
            padding: 15px 20px;
            border-bottom: 0;
            letter-spacing: 1px;
            &::before{
                display: none;
            }
        }
        & ul{
            padding: 0 20px 25px;
        }
        &.widget_tags{
            & ul{
                padding: 0 20px 20px;
            }
        }
    }
}
.widget_search{
    & form{
        margin: 0 20px 25px;
        position: relative;
        & input{
            width: 100%;
            background: none;
            height: 40px;
            border: 1px solid $grey_color;
            border-radius: 0;
            padding: 0 15px;
        }
        & button{
            position: absolute;
            right: 6px;
            top: 0;
            border: none;
            font-size: 16px;
            height: 100%;
            cursor: pointer;
            -webkit-transition: .3s;
            transition: .3s;
            background: inherit;
            &:hover{
                color: $secondary_color;
            }
        }
    }
	
	
}

.tag_cloud{
    & ul{
        
        & li{
            display: inline-block;
            & a{
                margin: 0 2px 6px 0;
                padding: 3px 12px;
                display: inline-block;
                border: 1px solid $grey_color;
                &:hover{
                    background: $secondary_color;
                    border-color: $secondary_color;
                    color: $white;
                }
            }
        }
    }
}





/*blog sidebar css here*/
.blog_sidebar_page{
    & .single_blog{
        margin-bottom: 57px;
        @media #{$large-mobile}{
            margin-bottom: 50px;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    & .blog_pagination{
        margin-top: 60px;
    }
    & .blog_container{
        & .row{
            @media #{$tablet-device}{
                flex-direction: row;
            }
            @media #{$large-mobile}{
                flex-direction: row;
            }
        }
    }
}
.blog_reverse{
    & .row{
        @media #{$tablet-device}{
            flex-direction: column-reverse;
        }
        @media #{$large-mobile}{
            flex-direction: column-reverse;
        }
    }
}






