/*brand css here*/
.brand_area{
	background: #F9F9F9; 
}

.brand_container{
    padding: 30px 0;
    border-top: 1px solid $grey_color;
    @media #{$large-mobile}{
        padding: 55px 0 58px;
    }
    & .single_brand{
        & img{
            width: inherit;
            margin: 0 auto;
        }
    }
    &:hover{
        & .owl-nav{
            & div{
                opacity: 1;
                visibility: visible;
            }
        } 
    }
    & .owl-nav{
        & div{
            position: absolute;
            top: 50%;
            transform: translatey(-50%);
            left: 0;
            text-align: center;
            opacity: 0;
            visibility: hidden;
            z-index: 1;
            font-size: 30px;
            @include transition(.3s);
            &:hover{
                color: $secondary_color;
            }
            &.owl-next{
                right: 0;
                left: auto;
            }
        }
    }
}

.brand_two{
    & .owl-nav{
        & div{
            &:hover{
                color: $secondary_color2;
            }
        }
    }
}


.brand_three{
    background: inherit;
    & .owl-nav{
        & div{
            &:hover{
                color: $secondary_color3;
            }
        }
    }
}



.brand_four{
    background: inherit;
    & .brand_container{
        border: 1px solid $grey_color;
        @media #{$large-mobile}{
            padding: 30px 0;
        }
    }
    
}

