/* 03. product section css here */
.tab-content > .tab-pane.active {
	display: block;
	height: auto;
	opacity: 1;
	overflow: visible;
}
.tab-content > .tab-pane{
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;;
}
.product_area{
	background: #F9F9F9;
    @media #{$large-mobile}{
        padding-bottom: 30px;
    }
}
.product_thumb{
    position: relative;
    & a.primary_img{
        
    }
    & a.secondary_img{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
    }
}
.product_content{
    padding: 10px 20px 25px 20px;
    @media #{$tablet-device}{
        padding: 10px 11px 25px 11px;
    }
    @media #{$large-mobile}{
        padding: 10px 10px 25px 10px;
    }
}
.single_product{
    background: $white;
    margin-bottom: 30px;
    &:hover{
        & a.secondary_img{
            opacity: 1;
            visibility: visible;
        }
        & .action_links{
            opacity: 1;
            visibility: visible;
            & ul{
                & li{
                    & a{
                        transform: translate(20px,20px);
                    }
                }
            }
        }
    }
    
}


.action_links{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    & ul{
        & li{
            margin-bottom: 5px;
            &:last-child{
                margin-bottom: 0;
            }
            & a{
                text-transform: capitalize;
                display: block;
                font-size: 14px;
                width: 50px;
                height: 50px;
                line-height: 50px;
                background: $fonts_color;
                text-align: center;
                color: $white;
                font-size: 21px;
                -webkit-transition-delay: .1s;
                transition-delay: .1s;
                -webkit-transition: transform .6s;
                -moz-transition: transform .6s;
                -o-transition: transform .6s;
                transition: transform .6s;
                &:hover{
                    background: $secondary_color;   
                }
            }
            &.compare{
                & a{
                    -webkit-transition-delay: .2s;
                    transition-delay: .2s;
                }
            }
            &.quick_view{
                & a{
                    -webkit-transition-delay: .3s;
                    transition-delay: .3s;
                }
            }
        }
    }
}
.label_product {
	position: absolute;
	top: 20px;
	left: 20px;
    & span{
        height: 20px;
        line-height: 20px;
        min-width: 40px;
        padding: 0 10px;
        text-transform: uppercase;
        color: $white;
        display: block;
        font-size: 10px;
        font-weight: 700;
        position: relative;
        &::before{
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 4px 0 4px;
            border-color: #82b53b transparent transparent transparent;
            left: 8px;
            top: 100%;
            position: absolute;
        }
        &.label_sale{
            background: $secondary_color;
        }
    }
}

.product_name{
    & h4{
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;
        font-weight: 700;
        margin-bottom: 5px;
        @media #{$tablet-device}{
            font-size: 13px;
        }
        @media #{$large-mobile}{
            font-size: 12px;
        }
        @media #{$small-mobile}{
            font-size: 13px;
        }
        & a{
            &:hover{
                color: $secondary_color;
            }  
        }
    }
}
.product_rating{
    margin-bottom: 4px;
    & ul{
        & li{
            display: inline-block;
            & a{
                color: $secondary_color;
                & i{
                    font-size: 16px;
                }
            }
        }
    }
}
.price-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.price_box{
    & span{
        &.current_price{
            font-size: 16px;
            line-height: 24px;
        }
        &.old_price{
            text-decoration: line-through;
            font-size: 14px;
            margin-left: 10px;
        }
    }
}
.wishlist_btn{
    & a{
        font-size: 18px;
        &:hover{
            color: $secondary_color;
        }
    }
}


/*deals section css here*/
.deals_section {
	padding: 75px 0;
    @media #{$large-mobile}{
        padding: 56px 0;
    }
}
.product_caption{
    text-align: center;
    & .product_name{
        margin-bottom: 12px;
        @media #{$large-mobile}{
            margin-bottom: 10px;
        }
        & a{
            font-size: 20px;
            line-height: 24px;
            text-transform: capitalize;
            font-style: italic;
            @media #{$large-mobile}{
               font-size: 17px;
                line-height: 20px;
            }
            &:hover{
                color: $secondary_color;
            }
        }
    }
    & .product_title{
        margin-bottom: 18px;
        @media #{$large-mobile}{
          margin-bottom: 12px;
        }
        & h3{
            font-size: 32px;
            line-height: 24px;
            font-weight: 700;
            text-transform: capitalize;
            @media #{$tablet-device}{
                font-size: 24px;
            }
            @media #{$large-mobile}{
               font-size: 18px;
                line-height: 22px;
            }
            & a{
                &:hover{
                    color: $secondary_color;
                }
            }
        }
    }
    & .product_sale{
        margin-bottom: 20px;
        @media #{$large-mobile}{
            margin-bottom: 15px;
        }
        & span{
            font-size: 32px;
            line-height: 32px;
            font-weight: 900;
            font-style: italic;
            text-transform: capitalize;
            color: $secondary_color;
            @media #{$large-mobile}{
                font-size: 25px;
                line-height: 24px;
            }
        }
    }
}
.product_desc{
    margin-bottom: 25px;
    @media #{$large-mobile}{
       margin-bottom: 15px;
    }
    & p{
        font-size: 16px;
        line-height: 24px;
        @media #{$tablet-device}{
            font-size: 15px;
            line-height: 23px;
            max-width: 662px;
            margin: 0 auto;
        }
        @media #{$large-mobile}{
           font-size: 14px;
            line-height: 23px;
        }
    }
}
.deals_banner{
    @media #{$tablet-device}{
        text-align: center;
        margin-top: 24px;
    }
    @media #{$large-mobile}{
        text-align: center;
        margin-top: 30px;
    }
}
.product_button{
    margin: 30px 0 0;
    @media #{$large-mobile}{
        margin: 25px 0 0;
    }
    & a{
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        padding: 9px 20px;
        background: $secondary_color;
        &:hover{
            background: $fonts_color;
        }
    }
}
.single_countdown {
	width: 90px;
	padding: 10px 0;
	border-right: 1px solid $grey_color;
    &:last-child{
        border: 0;
    }
    @media #{$tablet-device}{
        width: 83px;
        padding: 8px 0;
    }
    @media #{$large-mobile}{
        width: 65px;
        padding: 7px 0;
    }
}
.product_timing{
    border: 1px solid $grey_color;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
}
.countdown_area {
	display: flex;
}
.countdown_number{
    font-size: 22px;
    @media #{$tablet-device}{
        font-size: 18px;
    }
    @media #{$large-mobile}{
        font-size: 18px;
    }
}
.countdown_title{
    text-transform: uppercase;
    font-size: 12px;
}

.product_wrapper{
    & .col-lg-3{
        flex: 0 0 100%;
        max-width: 100%;
    }
    &:hover{
        & button{
            opacity: 1;
            visibility: visible;
        }
    }
    & button{
        position: absolute;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 24px;
        background: $white;
        border: 0;
        top: 48%;
        left: -10px;
        transform: translatey(-50%);
        @include transition(.3s);
        opacity: 0;
        visibility: hidden;
        box-shadow: 0px 0px 9.8px 0.2px rgba(0, 0, 0, 0.05);
        z-index: 99;
        @media #{$laptop-device}{
            left: 0;
        }
        @media #{$desktop-device}{
            left: 0;
        }
         @media #{$tablet-device}{
            left: 0;
        }
        @media #{$large-mobile}{
            left: 10px;
            width: 40px;
            height: 40px;
            line-height: 38px;
        }
        &:hover{
            color: $secondary_color;
        }
        &.next_arrow{
            right: -10px;
            left: auto;
            @media #{$laptop-device}{
                right: 0;
            }
            @media #{$desktop-device}{
                right: 0;
            }
             @media #{$tablet-device}{
                right: 0;
            }
            @media #{$large-mobile}{
                right: 10px;
            }
        }
    }
}

.section_title {
	text-align: center;
    margin-bottom: 26px;
    & h3{
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        padding: 30px 0 20px;
        margin-bottom: 5px;
        position: relative;
        display: inline-block;
        @media #{$large-mobile}{
            font-size: 18px;
            padding: 22px 0 15px;
        }
        &::before{
            position: absolute;
            content: "";
            background: url("../img/icon/bg-title.png") center no-repeat;
            width: 100px;
            height: 75px;
            top: 0;
            left: 50%;
            transform: translatex(-50%);
            @media #{$large-mobile}{
                width: 70px;
                height: 58px;
            }
        }
    }
    & p{
        font-size: 16px;
        line-height: 24px;
        max-width: 445px;
        margin: 0 auto;
        @media #{$large-mobile}{
            font-size: 14px;
            line-height: 22px;
        }
    }
}
.title_style1{
    @media #{$tablet-device}{
        width: 100%;
    }
    @media #{$large-mobile}{
        width: 100%;
    }
}
.deals_carousel{
    &:hover{
        & .owl-nav{
            & div{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    & .owl-nav{
        & div{
            position: absolute;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 24px;
            background: $white;
            top: 50%;
            left: 0;
            transform: translatey(-50%);
            @include transition(.3s);
            opacity: 0;
            visibility: hidden;
            box-shadow: 0px 0px 9.8px 0.2px rgba(0, 0, 0, 0.05);
            z-index: 99;
            @media #{$large-mobile}{
                width: 40px;
                height: 40px;
                line-height: 40px;
            }
            &:hover{
                color: $secondary_color;
            }
            &.owl-next{
                right: 0;
                left: auto;
            }
        }
    }
}

.product_area.pt-80{
    @media #{$large-mobile}{
        padding-top: 60px;
    }
}

.product_wrapper{
    & .product_slick_column3{
        & button{
           display: none !important;
        }
    }
}


/*home two css here*/
.section_title_style2 {
	text-align: center;
    margin-bottom: 25px;
    & h3{
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 16px;
        @media #{$large-mobile}{
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 12px;
        }
    }
    & p{
        font-size: 22px;
        line-height: 24px;
        color: $secondary_color2;
        font-family: $Dancing;
        margin-bottom: 17px;
    }
}

.featured_container{
    & .col-lg-3{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.featured_category{
    @media #{$large-mobile}{
        margin-bottom: 60px;
    }
}

.featured_thumb{
    position: relative;
    overflow: hidden;
    &:hover{
        & img{
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    & a{
        & img{
            @include transition(.5s);
        }
    }
    
}

.featured_name{
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    text-align: center;
    & h3{
        font-size: 16px;
        line-height: 24px;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 0;
        @media #{$large-mobile}{
            font-size: 14px;
            line-height: 22px;
        }
        & a{
            &:hover{
                color: $secondary_color2;
            }
        }
    }
}

.tab_product_area{
    @media #{$large-mobile}{
        margin-bottom: 60px;
    }
}

.tab_list_btn{
    width: 20%;
    position: relative;
    @media #{$large-mobile}{
        width: 100%;
        border-bottom: 1px solid $grey_color;
        padding-bottom: 12px;
        margin-bottom: 20px;
        
    }
    &::before{
        position: absolute;
        content: "";
        background: $grey_color;
        width: 1px;
        height: 100%;
        right: 2px;
        top: 0;
        z-index: -1;
        @media #{$large-mobile}{
            display: none;
        }
    }
    & ul.nav{
        flex-direction: column;
        @media #{$large-mobile}{
            flex-direction: row;
        }
        & li{
            padding: 10px 0;
            @media #{$tablet-device}{
                padding: 7px 0;
            }
            @media #{$large-mobile}{
               padding: 0;
            }
            & a{
                font-size: 16px;
                line-height: 24px;
                font-weight: 700;
                text-transform: uppercase;
                padding: 8px 0;
                display: block;
                border-right: 5px solid transparent;
                @media #{$tablet-device}{
                    font-size: 14px;
                    line-height: 20px;
                }
                @media #{$large-mobile}{
                    border: 0;
                    font-size: 13px;
                    line-height: 20px;
                    padding: 6px 10px;
                }
                &:hover{
                    color: $secondary_color2;
                }
                &.active{
                    color: $secondary_color2;
                    border-color: $secondary_color2;
                }
            }
        }
    }
}

.tab_product_list{
    &:hover{
        & .product_thumb{
            & a.secondary_img{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.tab_product_container {
	display: flex;
    @media #{$large-mobile}{
        flex-direction: column;
    }
}
.tab_product_gallery {
	width: 80%;
    @media #{$large-mobile}{
        width: 100%;
    }
}

.tab_product_list {
	display: flex;
    @media #{$large-mobile}{
       flex-direction: column;
    }
    & .product_thumb{
        width: 50%;
        padding: 0 15px;
        @media #{$tablet-device}{
            width: 43%;
        }
        @media #{$large-mobile}{
           width: 100%;
            overflow: hidden;
        }
    }
    & .product_content{
        width: 50%;
        padding: 0 15px;
        @media #{$tablet-device}{
            width: 57%;
        }
        @media #{$large-mobile}{
           width: 100%;
        }
        & h3{
            font-size: 22px;
            line-height: 20px;
            padding-top: 15px;
            margin-bottom: 17px;
            @media #{$tablet-device}{
                font-size: 16px;
                line-height: 18px;
                margin-bottom: 16px;
            }
            @media #{$large-mobile}{
               font-size: 16px;
                line-height: 18px;
                margin-bottom: 16px;
            }
            & a{
                &:hover{
                    color: $secondary_color2;
                }
            }
        }
    }
    & .price_box{
        margin-bottom: 10px;
        & span{
            &.current_price{
                font-size: 22px;
                line-height: 22px;
            }
        }
    }
    & .product_rating{
        margin-bottom: 9px;
        & ul{
            & li{
                & a{
                    color: $secondary_color2;
                }
            }
        }
    }
    & .product_desc{
        margin-bottom: 40px;
        @media #{$large-mobile}{
           margin-bottom: 22px;
        }
        & p{
            font-size: 14px;
            font-weight: 400;
        }
    }
    & .product_btn{
        & a{
            font-size: 14px;
            line-height: 14px;
            text-transform: uppercase;
            display: inline-block;
            padding: 14px 25px;
            font-weight: 700;
            background: $fonts_color;
            color: #fff;
            &:hover{
                background: $secondary_color2;
            }
            @media #{$large-mobile}{
                font-size: 12px;
                line-height: 14px;
                padding: 11px 15px;
            }
        }
    }
}

.tab_product_carousel{
    &:hover{
        & .owl-nav{
            & div{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    & .owl-nav{
        & div{
            position: absolute;
            top: 8px;
            right: 27px;
            width: 20px;
            height: 36px;
            line-height: 36px;
            border: 1px solid $grey_color;
            background: #f7f7f7;
            text-align: center;
            opacity: 0;
            visibility: hidden;
            &:hover{
                background: $secondary_color2;
                border-color: $secondary_color2;
                color: $white;
            }
            &.owl-next{
                right: 0;
            }
        }
    }
}



.product_area_two{
    background: inherit;
    & .single_product{
        border: 1px solid $grey_color;
        &:hover{
            border-color: $secondary_color2;
        }
    }
}


.color_section_two{
    & .action_links{
        & ul{
            & li{
                & a{
                    &:hover{
                        background: $secondary_color2;
                    }
                }
            }
        }
    }
    & .product_name{
        & h4{
            & a{
                &:hover{
                   color: $secondary_color2; 
                }
            }
        }
    }
    & .wishlist_btn{
        & a{
            &:hover{
                color: $secondary_color2;
            }
        }
    }
    & .product_rating{
        & ul{
            & li{
                & a{
                   color: $secondary_color2;
                }
            }
        }
    }
    & button{
        &:hover{
            color: $secondary_color2;
        }
    }
}


/*home three css here*/
.title_style3{
    margin-bottom: 14px;
    & h3{
        &::before{
            display: none;
        }
        padding-top: 70px;
        background: url('../img/icon/bg-title3.png') center top no-repeat;
    }
}

.product_three{
    background: inherit;
    @media #{$large-mobile}{
        margin-top: 60px;
        margin-bottom: 30px;
        padding-bottom: 0;
    }
}

.product_tab_btn3{
    margin-bottom: 35px;
    & ul.nav{
        justify-content: center;
        & li{
            padding: 0 30px;
            position: relative;
            &::before{
                content: "";
                width: 18px;
                height: 1px;
                background: #cccccc;
                position: absolute;
                top: 50%;
                right: -9px;
            }
            &:last-child{
                &::before{
                    display: none;
                }
            }
            & a{
               font-size: 16px;
                line-height: 24px;
                font-weight: 700;
                text-transform: uppercase;
                @media #{$large-mobile}{
                    font-size: 14px;
                    line-height: 26px;
                }
                &:hover{
                    color: $secondary_color3;
                }
                &.active{
                    color: $secondary_color3;
                }
            }
        }
    }
}


.product_color3{
    & .single_product{
        border: 1px solid $grey_color;
        &:hover{
            border-color: $secondary_color3;
        }
    }
    & .action_links {
        & ul{
            & li{
                & a{
                    &:hover{
                        background: $secondary_color3;
                    }
                }
            }
        }
    }
    & .product_name {
        & h4{
            & a{
                &:hover{
                    color: $secondary_color3;
                }
            }
        }
    }
    & .product_rating{
        & ul{
            & li{
                & a{
                    color: $secondary_color3;
                }
            }
        }
    }
    & .wishlist_btn{
        & a{
            &:hover{
                color: $secondary_color3;
            }
        }
    }
    & button{
        &:hover{
            color: $secondary_color3;
        }
    }
}


.deals_section_three{
    padding: 70px 0;
    @media #{$large-mobile}{
        padding: 54px 0 0;
    }
    & .product_name {
        & a{
            &:hover{
                color: $secondary_color3;
            }
        }
    }
    & .product_title {
        & h3{
            & a{
                &:hover{
                    color: $secondary_color3;
                }
            }
        }
    }
    & .product_sale{
        span{
            color: $secondary_color3;
        }
    }
    & .product_button{
        & a{
            background: $secondary_color3;
            &:hover{
                background: $fonts_color;
            }
        }
    }
    & .owl-nav{
        & div{
            &:hover{
                color: $secondary_color3;
            }
        }
    }
    & .deals_banner{
        @media #{$tablet-device}{
            margin-top: 30px;
        }
        @media #{$large-mobile}{
            margin-top: 30px;
        }
    }
}

.deals_inner_three{
    border-bottom: 1px solid $grey_color;
    padding-bottom: 70px;
    @media #{$tablet-device}{
        padding-bottom: 67px;
    }
    @media #{$large-mobile}{
        padding-bottom: 60px;
    }
}

/* ---Home Five Style-- */
.home-five_wrapper{
    .featured_column4{
        .single_featured{
            .featured_content{
                .featured_name{
                    a{
                        &:hover{
                            color: $secondary_color3;
                        }
                    }
                }
                .sub_featured_categorie{
                    > ul{
                        > li{
                            &:before{
                                background-color: $secondary_color3;
                            }
                            > a{
                                &:hover{
                                    color: $secondary_color3;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*small product css here*/
.custom_produtc_area{
    margin-bottom: 42px;
    @media #{$desktop-device}{
       margin-bottom: 69px;
    }
    @media #{$tablet-device}{
       margin-bottom: 70px;
    }
    @media #{$large-mobile}{
       margin-bottom: 60px;
    }
}
.small_product{
    @media #{$large-mobile}{
       margin-bottom: 25px;
    }
}
.small_product_list {
	display: flex !important;
    align-items: center;
    margin-bottom: 30px;
    &:hover{
        & a.secondary_img{
            opacity: 1;
            visibility: visible;
        }
    }
    & .product_thumb{
        width: 40%;
        border: 1px solid $grey_color;
        @media #{$desktop-device}{
           width: 38%;
        }
        @media #{$large-mobile}{
           width: 30%;
        }
    }
    & .product_content{
        width: 60%;
        padding: 0 0 0 20px;
        @media #{$desktop-device}{
            width: 62%;
            padding: 0 0 0 15px;
        }
        @media #{$large-mobile}{
            width: 67%;
            padding: 0 0 0 15px;
        }
    }
    & .product_name{
        & h4{
            line-height: 20px;
            margin-bottom: 3px;
            @media #{$desktop-device}{
               font-size: 14px;
            }
            & a{
                &:hover{
                    color: $secondary_color3;
                }
            }
        }
    }
    & .product_rating{
        margin-bottom: 2px;
        & ul{
            & li{
                & a{
                    color: $secondary_color3;
                }
            }
        }
    }
}

.small_product_title{
    margin-bottom: 30px;
    & h2{
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 900;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 2px solid $grey_color;
        position: relative;
        @media #{$large-mobile}{
           font-size: 15px;
        }
        &::before{
            content: "";
            position: absolute;
            bottom: -2px;
            height: 2px;
            width: 70px;
            background: $secondary_color3;
            left: 0;
        }
    }
}

.small_product_container{
    & button{
        position: absolute;
        top: -69px;
        right: 16px;
        font-size: 21px;
        border: 0;
        background: inherit;
        &:hover{
            color: $secondary_color3;
        }
        &.next_arrow{
            right: 0;
        }
    }
}


/*home four css here*/
.title_style4{
    & h3{
        margin-bottom: 15px;
        padding: 0;
        @media #{$large-mobile}{
           line-height: 16px;
        }
        &::before{
            display: none;
        }
    }
}

.featured_container_four{
    & .featured_name{
        position: inherit;
        text-align: left;
        & a{
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            font-weight: 700;
            display: block;
            margin-bottom: 10px;
            &:hover{
                color: $secondary_color4;
            }
        }
    }
    & .col-lg-3{
        flex: 0 0 100%;
        max-width: 100%;
    }
    & .single_featured{
        border: 1px solid $grey_color;
    }
    & .featured_content {
        padding: 15px 20px 20px;
    }
}


.sub_featured_categorie{
    & ul{
        & li{
            @include transition(.3s);
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 10px;
                height: 1px;
                background: $secondary_color4;
                left: 0;
                opacity: 0;
                top: 12px;
                @include transition(.3s);
            }
            &:hover{
                padding-left: 15px;
                &::before{
                    opacity: 1;
                }
            }
            & a{
                &:hover{
                    color: $secondary_color4;
                }
            }
        }
    }
}


.product_four{
    background: inherit;
    @media #{$large-mobile}{
      padding-bottom: 0;
    }
    & .single_product{
        border: 1px solid $grey_color;
        &:hover{
            border-color: $secondary_color4;
        }
    }
    & .product_timing{
        border: 0;
        margin-bottom: 12px;
    }
    & .single_countdown{
        width: 80px;
        background: $secondary_color4; 
        border-right: 2px solid $white;
        color: $white;
        font-weight: 700;
        @media #{$tablet-device}{
           width: 48px;
            padding: 5px 0;
        }
        @media #{$large-mobile}{
           width: 44px;
            padding: 5px 0;
        }
        @media #{$small-mobile}{
           width: 58px;
        }
        &:last-child{
            border-right: 0;
        }
    }
    & .countdown_number{
        @media #{$tablet-device}{
          font-size: 16px;
        }
        @media #{$large-mobile}{
          font-size: 16px;
        }
    }
    & .countdown_title{
        @media #{$tablet-device}{
          font-size: 11px;
        }
        @media #{$large-mobile}{
          font-size: 11px;
        }
    }
}

.home-five_wrapper{
    .product_four{
        .single_product{
            &:hover{
                border-color: $secondary_color3;
            }
            .product_name{
                a{
                    &:hover{
                        color: $secondary_color3;
                    }
                }
            }
            .product_rating{
                > ul{
                    > li{
                        > a{
                            color: $secondary_color3;
                        }
                    }
                }
            }
            .wishlist_btn{
                a{
                    &:hover{
                        color: $secondary_color3;
                    }
                }
            }
            .action_links{
                > ul{
                    > li{
                        > a{
                            &:hover{
                                background-color: $secondary_color3;
                            }
                        }
                    }
                }
            }
            .single_countdown{
                background-color: $secondary_color3;
            }
        }
    }
}

.product_tab_btn3{
    &.btn_4{
        & ul.nav {
            & li{
                & a{
                    &:hover{
                        color: $secondary_color4;
                    } 
                    &.active{
                        color: $secondary_color4;
                    }
                }
            }
        }
    }
}

.product_color4{
    & .action_links{
        & ul{
            & li{
                & a{
                    &:hover{
                        background: $secondary_color4;
                    }
                }
            }
        }
    }
    & .product_name{
        & h4{
            & a{
                &:hover{
                    color:  $secondary_color4;
                }
            }
        }
    }
    & .product_rating{
        & ul{
            & li{
                & a{
                    &:hover{
                        color:  $secondary_color4;
                    }
                }
            }
        }
    }
    & .wishlist_btn{
        & a{
            &:hover{
                color:  $secondary_color4;
            }
        }
    }
}



.custom_product_four{
    margin-bottom: 30px;
    @media #{$desktop-device}{
        margin-bottom: 27px;
    }
    @media #{$tablet-device}{
      margin-bottom: 5px;
    }
    @media #{$large-mobile}{
      margin-bottom: 5px;
    }
    & .small_product{
        @media #{$tablet-device}{
          margin-bottom: 25px;
        }
        @media #{$large-mobile}{
          margin-bottom: 25px;
        }
    }
    & .small_product_title{
        & h2{
            &::before{
                background: $secondary_color4;
            }
        }
    }
    & .small_product_container{
        & button{
            &:hover{
                color:  $secondary_color4;
            }
        }
    }
    & .product_name {
        & h4{
            & a{
                &:hover{
                    color:  $secondary_color4;
                }
            }
        }
    }
    & .product_rating {
        & ul{
            & li{
                & a{
                    color:  $secondary_color4;
                }
            }
        }
    }
}















