
/****************************************************************/
/****************************************************************/
/*************************c_page_profile***************************/
/****************************************************************/
/****************************************************************/



.c_page_profile{

    .c-right{
        float: right;
        width: 25%;
        padding: 100px 0;





        .quieq_tap ul {
            display: block;
        }

        .c_searchc {
            width: 340px;
            margin: auto;
            margin-bottom: 44px;
        }


        .c_searchc  input {
            padding: 15px 35px;
            width: 100%;
            height: 45px;
            border-radius: 35px !important;
        }

        .c_searchc  input::placeholder {
            font-size: 18px;
            color: #a8a8a8;
        }


        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active,
        .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover
       {
           border: 0;
           border-radius: 0 30px 30px 0;
       }


        .nav-tabs .nav-link {
           font-size: 15px;
           font-weight: bold;
           color: $main_color;
           padding: 15px;
           border: 0;
           border-radius: 0;
       }


         .nav-tabs .nav-item.show .nav-link,
         .nav-tabs .nav-link.active,
         .nav-tabs .nav-link:hover {
           color: $main_color;
           background-color: #f5f5f5;
       }





    }



    .c-left {
        float: left;
        width: 75%;
        padding: 75px 0;
        box-shadow: inset -2px -3px 5px 0px #d4d4d4d1;



        .row {
            margin: auto !important;
        }


        .c_editInfo{


            padding: 0 50px 0 100px;


            .c_imgchosee > label{

                width: 100px !important;
                height: 100px;

            }

            .c_imgchosee .c_editm {
                position: absolute;
                bottom: 20px;
                right: 2px;
            }


            .c_imgchosee span {
                font-size: 19px;
                font-weight: bold;
                color: $main_color;
                margin-right: 40px;
            }

            .c_imgUp input {
                display: none;
            }

            .c_imgUp {
                width: 100%;
                height: 100%;
            }

            .c_imgUp img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }


            .form-group {
                margin-bottom: 44px;
            }

            .form-group label{
                width: 100%;
                font-size: 16px;
                font-weight: bold;
                color: #4c4c4c;
                margin-bottom: 18px;
            }

            .form-group > input,
            .form-group > select,
            .form-group .select2-selection
             {
                width: 100%;
                height: 45px;
                border: 1px solid #ccc;
                border-radius: 20px;
                padding: 6px 12px;
                text-align: right;
            }


            .c_btnn button{
                @extend %main_button;

            }

          
        }

        .c_statususerwx h4 {
            font-size: 16px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }

        .c_statususerwx label {
            margin-bottom: 0;
            margin-left: 15px;
        }

        .c_statususerwx span {
            font-size: 14px;
        }

        .c_statususerwx a {
            color: $main_color;
        }

        .c_commentMessage {
            padding: 0 100px;
            position: relative;

            .c_box {
                padding: 50px 35px;
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 30px;
                display: flex;
            }


            .c_box .c_image {
                width: 70px;
                height: 70px;
                border-radius: 50%;
            }

            .c_box .c_body {
                @extend %gr_relative;
            }


            .c_textare textarea{
                padding: 25px 30px;
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 30px;
                width: 100%;
                height: 180px;
            }



             button{
                @extend %main_button;
            }

             


        }
    }



    .c_research{
        .c_item{
            margin-bottom: 30px;
            .c_image {
                width: 200px;
                height: 133px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fff;
                border-radius: 20px;
                transition: 0.5s;
                margin: auto;
                box-shadow: 0 0 10px #8b8b8b6b;
                padding: 20px;
                margin-bottom: 10px;
            }
            .c_body{
                h3 {
                    color: #4a4a4a;
                    font-size: 13px;
                    font-weight: bold;
                }
                p {
                    font-size: 11px;
                    color: #727272;
                }
            }
        }
    }

    .c_certifcate{
        .c_item{
            margin-bottom: 30px;
            .c_image {
                width: 200px;
                height: 133px;
            }
            img{
                border-radius: 20px;
                transition: 0.5s;
                margin: auto;
                box-shadow: 0 0 10px #8b8b8b6b;
                width: 100%;
                height: 100%;
            }
        }
     
        
    }
}




/****************************************************************/
/****************************************************************/
/*************************c_page_courses***************************/
/****************************************************************/
/****************************************************************/



.c_page_courses{

    .c_item {
        @extend %box_courses_item;
        margin: 15px 0;
     }
     .c_block{
         padding: 40px 0;
     }
}




/****************************************************************/
/****************************************************************/
/*************************c_page_courseDetails***************************/
/****************************************************************/
/****************************************************************/



.c_page_courseDetails{

    .c_mainContent {
        padding: 50px 0;
        @extend %block_relative;
    }

    .c_info{

        @extend %block_relative;
        padding-bottom: 45px;
        .c_right {
            width: 70%;
            float: right;
            .c_itms {
                padding: 35px;
                @extend %boxshod_readius;
            }

            .c_title{
                @extend %styleTitle_inner;
            }

            .c_body{
                @extend %stylePargraoh_inner;
            }

            .c_tafsell{
                @extend %styltfseel;
            }

        }


        .c_left {
            width: 27%;
            float: left;

            .c_box_subscribe{
                @extend %boxshod_readius;
                video#myvideo {
                    width: 100%;
                    height: 190px;
                    /* border: 2px solid #0b8585; */
                }

                .c_btn_subscribe{
                    height: 135px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        @extend %subscribe_button;
                        width: 65%;
                        text-align: center;
                    }

                }
            }
        }
    }

    .c_brandas{
        @extend %padding_Section;
        background: $btn_hover;
    
        .c_section_title {
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: bold;
        }
    
        .c_item {
            text-align: center;
            width: 100%;
            height: 100px;
            transition: .5s;
            &:hover {
                transform: scale(1.1);
            }
        }
    
        .c_item img{
            // filter: grayscale(100%);
            transition: .5s;
            position: absolute;
            #{$float_left}: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-height: 100%;
        }
    
        .c_item img:hover{
            filter: none;
            // transform: scale(1.06);
        }
    
        .swiper-pagination {
            @extend %bullets_swiper;
            bottom: -7px !important;
            text-align: center;
        }
    
    
    }

    .c_info2{
        margin-top: 40px;
        .c_right {
            width: 38%;
            float: right;

            .c_box_show{
                @extend %boxshod_readius;
                @extend %flex_center ;
                padding: 50px 0 40px;
            }
            .c_bloc{
                .c_img{
                    margin-bottom: 30px;
                }
                img{
                    width: 175px;
                    height: 130px;
                }
                .c_btn_subscribe a{
                    @extend %subscribe_button;
                    width: 100%;
                    text-align: center;
                }
            }
        }

        .c_left {
            width: 58%;
            float: left;

            .c_itm_prof{
                @extend %flex_center ;
                justify-content: flex-start;
                @extend %boxshod_readius;
                padding: 40px 80px;
                img{
                    border-radius: 100%;
                    width: 170px;
                    height: 170px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    margin-left: 44px;
                }

                .c_bdy{
                    color: $main_color;
                    span{
                        display: inline-block;
                        font-size: 16px;
                        font-weight: bold;
                        color: $main_color;
                        margin-bottom: 10px;
                    }
                    h6{
                        font-size: 13px;
                        color: $main_color;
                    }
                }
            }
        }
    }
}



/****************************************************************/
/****************************************************************/
/*************************c_page_courseSubscriber***************************/
/****************************************************************/
/****************************************************************/



.c_page_courseSubscriber{

    .c_mainContent {
        padding: 50px 0;
        @extend %block_relative;
    }


    .c_coursubs_Swiper {
        display: flex;
        justify-content: space-between;
        video {
            max-width: 100%;
        }
        .mySwiper {
            width: 28%;
            margin: 0;

            video {
                height: 100px;
                width: 100%;
            }

            .swiper-wrapper {
                height: 600px !important;
            }
            
            .swiper-slide {
                height: 135px !important;
            }

            .c_title h4 {
                font-size: 12px;
                font-weight: bold;
                color: #424242;
                margin-top: 10px;
            }
        } 


        .swiper.mySwiper2 {
            width: 69%;
            margin: 0;
            height: 555px;

            .c_title h4 {
                font-size: 19px;
                font-weight: bold;
                color: $main_color;
                margin-top: 20px;
            }

            .swiper-button-next:after, .swiper-button-prev:after{
                display: none;
            }
            .swiper-button-next, .swiper-button-prev {
                bottom: 20px;
                top: auto;
                color: $main_color;
                font-size: 15px;
                img{
                    margin: 0 10px; 
                }
            }
            .swiper-button-prev, .swiper-rtl .swiper-button-next {
                left: 120px;
                right: auto;
            }
            .swiper-button-next, .swiper-rtl .swiper-button-prev {
                right: auto;
                left: 20px;
                
            }
        }
    }

}


/****************************************************************/
/****************************************************************/
/*************************c_page_courseDetails***************************/
/****************************************************************/
/****************************************************************/

.c_page_about{


    .c_section_1{
        padding: 80px 0;
        .row {
            align-items: center;
        }
        .c_post{
        
            .c_body h2 {
                font-size: 28px;
                color: $main_color;
                margin-bottom: 20px;
                padding-right: 20px;
                border-right: 2px solid $main_color; 
            }
        
            .c_body h3 {
                font-size: 26px;
                font-weight: bold;
                color: #222;
                margin-bottom: 25px;
                width: 60%;
            }
            .c_body p {
                @extend %stylePargraoh;
                margin-top: 20px;
                text-align: justify;
            }
    
            .c_buttn a{
                @extend %main_button2;
                margin-left: 15px;
            }
    
            .c_buttn {
                margin-top: 30px;
            }
    
    
            .c_num {
                display: flex;
                margin-top: 40px;
    
                .c_item {
                    width: 33%;
                    display: flex;
                    transition: .5s;
    
                    &:hover{
    
                        .c_icon {
                            background:  $main_color;
                            color: #fff ;
                        }
                        .c_bdu{
                            color: $main_color;
                        }
                    }
                }
    
                .c_icon {
                    width: 40px;
                    height: 40px;
                    background: #fff;
                    color: $font_color;
                    text-align: center;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    border-radius: 5px;
                    margin-left: 27px;
                    transition: .5s;
                }
                .c_bdu{
                    color: $font_color;
                    transition: .5s;
                    span {
                        display: inline-block;
                        font-size: 25px;
                        font-weight: bold;
                        line-height: 20px;
                    }
                    p {
                        font-size: 16px;
                        font-weight: bold;
                        margin: 0;
                        line-height: 20px;
                    }
                } 
            }
            
        
        }
    
    
        .c_imgs{
            position: relative;
            .c_bgimg {
                position: absolute;
            }
            .c_bgimg.c_bg_1 {
                left: 0;
                z-index: -1;
            }
            .c_bgimg.c_bg_2 {
                bottom: 30px;
                z-index: 9;
                right: 15%;
            }
            .c_item{
                text-align: center;
                img{
                    border-radius: 74% 26% 58% 42% / 39% 24% 76% 61%;
                    width: 450px;
                    height: 430px;
                    object-fit: cover;
                }
            }
        
    
            .swiper-pagination {
                @extend %bullets_swiper;
                bottom: 0 !important;
                text-align: left;
                right: 0 !important;
                left: auto !important;
                width: auto !important;
            }
        
        }
    
    
    }

    .c_section_2{
        background: url(/front_end_style/images/bgabout.png) no-repeat center;
        padding: 120px 0;
        background-size: 100% 100%;

        .c_item {
            background: #ffffffd1;
            padding: 80px 50px 50px;
            border-radius: 40px;
            position: relative;
            height: 275px;
            margin: 0 20px;
            text-align: justify;
        }

        .c_title{
                position: absolute;
                top: -25px;
                right: -25px;
                background: #fff;
                padding: 15px;
                text-align: center;
                width: 100px;
                height: 100px;
                display: block;
                border-radius: 15px;
            img{
                max-width: 75px;
                max-height: 75px;
                height: auto;
                width: auto;
                margin-bottom: 7px;
            }
            h4{
                font-size: 19px;
                color: #494949;
                margin: 0;
            }
        }
        .c_body{
            @extend %flex_center;
            width: 100%;
            height: 100%;
        }
        .c_body p {
            @extend %stylePargraoh;
        }
    }

}



/****************************************************************/
/****************************************************************/
/*************************c_page_courseDetails***************************/
/****************************************************************/
/****************************************************************/

.c_page_contact{

    @extend %padding_Section;
    
    .c_info {
        @extend %block_relative;
        margin-bottom: 35px;
        li {
            float: right;
            margin-left: 25px;
        }
        li a {
            font-size: 16px;
            color: #383838;
        }
        li i {
            color: $main_color;
            margin-left: 15px;
        }

    }
    .c_form_contat{
        @extend %form_style;
    }

    .c_imgs{
        position: relative;
        .c_bgimg {
            position: absolute;
        }
        .c_bgimg.c_bg_1 {
            left: 0;
            z-index: -1;
        }
        .c_bgimg.c_bg_2 {
            bottom: 30px;
            z-index: 9;
            right: 15%;
        }
        .c_item{
            text-align: center;
            img{
                border-radius: 74% 26% 58% 42% / 39% 24% 76% 61%;
                width: 450px;
                height: 430px;
                object-fit: cover;
            }
        }
    

        .swiper-pagination {
            @extend %bullets_swiper;
            bottom: 0 !important;
            text-align: left;
            right: 0 !important;
            left: auto !important;
            width: auto !important;
        }
    
    }

}




/****************************************************************/
/****************************************************************/
/*************************c_page_news***************************/
/****************************************************************/
/****************************************************************/



.c_page_news{

    .c_item {
        @extend %box_courses_item;
        margin: 15px 0;
     }
     .c_block{
         padding: 40px 0;
     }
}



/****************************************************************/
/*************************.c_page_newsInner***************************/
/****************************************************************/
/****************************************************************/
.c_page_newsInner {

    @extend %padding_Section;
    @extend %block_relative;


    .c_mainNews {
        float: right;
        width: 60%;

        .c_item .c_image {
            height: 475px;
            position: relative;
        }

        .c_item .c_image .swiper_mannews_pc {
            height: 100%;
        }

        .c_item .c_image .swiper-button-next,
        .c_item .c_image .swiper-button-prev{
            color: #fff;
        }

        .c_item .c_image img {
            width: 100%;
            max-height: 100%;
            border-radius: 5px;
        }

        .c_title h2 {
            font-size: 16px;
            color: $main_color;
            font-weight: bold;
            margin-bottom: 33px;
        }

        .c_date {
            font-size: 12px;
            margin: 20px 0;
            color: #585858;
        }

        .c_body p {
            @extend %stylePargraoh;
        }


    }


    .c_relatedNews {
        float: left;
        width: 35%;
        height: 880px;
        box-shadow: 0 0 10px #9393939c;
        padding: 40px 0;
        overflow-y: scroll;

        /* width */
        &::-webkit-scrollbar {
            width: 6px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px #f4f4f4;
            border-radius: 0px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #e9e9e9;
            border-radius: 1px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #e9e9e9;
        }
        .c_totl{
            position: relative;
            z-index: 9;
        }

        .c_totl h2 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 40px;
            padding-right: 45px;
            color: $main_color;
            position: relative;
            /* padding-top: 10px; */
        }


        .c_totl h2::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 4px;
            background: $main_color;
            border-radius: 0;
            right: 0px;
            top: 8px;
            border-radius: 5px 0 0 5px;
            z-index: -1;
        }


        .c_itms {
            margin: 17px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .c_itms .c_image {
            width: 25%;
        }
        .c_itms .c_image img {
            width: 90px;
            height: 90px;
            border-radius: 5px;
            object-fit: cover;
        }

        .c_itms .c_body {
            width: 70%;
        }
        .c_title h2 {
            font-size: 13px;
            font-weight: bold;
            color: $main_color;
        }

        .c_date {
            font-size: 12px;
            color: #585858;
        }
    

    }



}



/****************************************************************/
/*************************.c_page_subscribe***************************/
/****************************************************************/
/****************************************************************/
.c_page_subscribe{
    @extend %padding_Section;
    .c_block {
        max-width: 380px;
        margin: auto;

        .c_box {
            box-shadow: 0 0 10px #aaaaaac4;
            border-radius: 15px;
            text-align: center;
            .c_subs_now h4 {
                background: $main_color;
                border-radius: 15px 15px 0 0;
                padding: 20px;
                color: #fff;
                font-size: 20px;
                font-weight: bold;
            }

            .c_body {
                padding: 50px;
                .c_subs_year h5 {
                    font-size: 18px;
                    font-weight: bold;
                    color: $main_color;
                    margin-bottom: 20px;
                }
                .c_price {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $main_color;
                }
                .c_price h6 {
                    font-size: 84px;
                    font-weight: bold;
                }
                .c_price span {
                    font-size: 18px;
                    font-weight: bold;
                }
                .c_parg{
                    color: $font_color;
                    font-size: 14px;
                }

                .c_butn{
                    a{
                        @extend %subscribe_button;
                        width: 200px;
                    }
                }
                
            }

        }
    }


    .c_form_subscr {
        padding: 40px 33px;

        form{
            @extend %formgroub_subscribre;

            
                .form-group .checkbox-paypal label{
                    background: #f6f6f6 url(/front_end_style/images/credit-card.png) center no-repeat;
                    border-radius: 20px;

                }

                .form-group .checkbox-master label{
                    background: #f6f6f6 url(/front_end_style/images/paypal.png) center no-repeat;
                    border-radius: 20px;

                }


                .c_form_chekc {
                    display: flex;
                    label{
                        cursor: pointer;
                    }
                }

                .c-checkbox {
                    margin-left: 20px;
                }

                .c-checkbox h5 {
                    border: 1px solid #f6f6f6;
                    border-radius: 20px;
                    font-size: 0;
                    transition: 0.5s;
                    width: 85px;
                    height: 35px;
                    margin: 0;
                }


                .c-checkbox input[type="radio"]{
                    display: none;
                }

                .c-checkbox input[type="radio"]:checked ~ h5 {
                    border: 1px solid $main_color;
                    transition: .5s;
                }



        }
        .c_butnns{
            @extend %subscribe2_button;
        }
    }
}





/****************************************************************/
/*************************.c_page_resume***************************/
/****************************************************************/
/****************************************************************/
/****************************************************************/
/*************************.c_page_resume***************************/
/****************************************************************/
/****************************************************************/
/****************************************************************/
/*************************.c_page_resume***************************/
/****************************************************************/
/****************************************************************/

.c_page_resume{
    padding: 100px;
    background: #f6f6f6;
    direction: ltr;
    
    .container_900 {
        position: relative;
        width: 100%;
        margin: auto;
        max-width: 860px;
        padding: 0px 0px;
    }

    .c_topCv{
        background: #5d52a3;

        .c_blockss {
            display: flex;
            direction: ltr;
            align-items: center;
        }
    
        .c_blockss .c_infoss {
            float: left;
            width: 55%;
            padding: 80px 20px 50px 60px;
            margin: 0;
            text-align: left;
            color: #fff;

            .c_name h2 {
                font-weight: normal;
                font-size: 50px;
                margin: 0;
            }
            .c_name p {
                font-size: 65px;
                font-weight: bold;
                line-height: 50px;
            }

            .c_postionss h4 {
                font-size: 18px;
                text-transform: uppercase;
                word-spacing: 2px;
                letter-spacing: 2px;
                margin-bottom: 25px;
            }
            .c_postionss p {
                line-height: 20px;
                font-size: 15px;
            }
        }
    
        .c_blockss .c_image{
                float: right;
                width: 50%;
                padding: 20px;
                text-align: left;
        }
    
        .c_blockss .c_image img {
            border-radius: 50%;
            display: inline-block;
            width: 275px;
            height: 275px;
            border: 10px solid #fff;
        }

        
    }


    /********/
    .c_head_cv{
        float: right;
        width: 50%;
        background: #fbfbfb;
        padding: 40px 40px 50px 50px;
        line-height: 1.15;
        margin: 0 ;
    }

    .c_body_cv{
        float: left;
        width: 55%;
        background: #5d52a380;
        padding: 40px 40px 50px 50px;
        margin: 0;
    }

    .c_createCV {
        display: flex;
        margin: 0 ;
        /* width: 100%;
        height: 100%; */
        position: relative;
        /* display: inline-block; */
        width: 100%;
        background: #fbfbfb;
        text-align: left;
    }

    /*********/ 


    .c_createCV{

        .c_titles h3 {
            font-size: 26px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 4px;
            margin-bottom: 20px;
        }
    
        .c_date p,
        .c_company p {
            @extend %stykle_texte;
        }
    
        .c_company {
            margin-bottom: 10px;
        }
        .c_postionss{
            @extend %stykle_texte;
            font-weight: normal;
            margin-bottom: 10px;
        }
    
        .c_item{
            position: relative;
            margin-bottom: 50px;
        }
        .c_item.c_exper{
            .c_itme_ex {
                margin-bottom: 30px;
            }
            ul li{
                list-style: inside;
                font-size: 16px;
                color: #000;
                margin-bottom: 8%;
                font-weight: 900;
            }
        }
    
    
        .c_item.c_contact{
            ul li {
                margin-bottom: 10px;
                i{
                    color: $main_color;
                    margin-right: 10px;
                }
            }
        } 
    }


    .c_edotadd {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 999;
        li {
            float: left;
            margin: 0 5px;
            a{
                color: $main_color;
            }
        }
    }


.c_skills{

    .c_temem {
        margin-bottom: 20px;
        h5 {
            font-size: 16px;
        }
    }

    /* progress bar  */

    .c_progress {
        padding: 0 !important;
        width: 100%;
        height: 15px;
        overflow: hidden;
        background: #e5e5e5;
        border-radius: 20px;
    }
    
    .c_bar {
        position: relative;
        float: left;
        min-width: 1%;
        height: 100%;
        background: $main_color;
    }
    
    .c_percent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        font-family: tahoma, arial, helvetica;
        font-size: 12px;
        color: white;
    }
    
}

}