/***********INNERS PAGE************/

/****************************************************************/
/****************************************************************/
/*************************page_products**************************/
/****************************************************************/
/****************************************************************/

.page_products {
    .c_index_product {
        .col-md-12 .c_item{
            height: 200px;
            .c_buttnons{
                display: flex;
                justify-content: center;
                a{
                    margin: 10px;
                }
            }
        }

        .c_item {
            @extend %product_item;
            margin-top: 30px;
        }
    }

    .c_categoruys {

        .c_menu_Categ {
            border: 1px solid #a5a5a5;

            .i_main {
                padding: 15px;
                width: 100%;
                display: inline-block;
                border-top: 1px solid #eee;
                margin-bottom: 0;

                a.closed {
                    width: 100%;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: bold;
                    color: $main_color;
                }

                a.closed.collapsed {
                    color: #000;
                }

                &:last-child {
                    border-bottom: 1px solid #eee;
                }

                ul.c_sub_categ {
                    margin-top: 15px;
                }

                li.i_sub {
                    list-style: inside;

                    a {
                        font-size: 12px;
                        color: #878686;
                        &:hover{
                            font-weight: bold;
                            color: $main_color;
                        }
                    }

                    .c_sub_active{
                        color: $main_color;
                        font-weight: bold;
                    }
                }
            }

        }
    }

}



/****************************************************************/
/****************************************************************/
/*************************page_product_details*******************/
/****************************************************************/
/****************************************************************/

.page_product_details {

    .c_gallery {
        width: 45%;
        float: $float_left;

        @extend %gallery_swiper;
    }

    .c_information {
        width: 50%;
        float: $float_right;

        input#quantity{
            width: 100px;
            margin: 0 20px;
            padding: 0 20px;
        }
        @extend %product_info;
    }

    .c_related {
        margin-top: 120px;
        @extend %block_relative;

        .c_item {
            @extend %product_item;
        }

        .c_titls {
            text-align: center;
        }

        .c_titls h4 {
            font-size: 27px;
            display: inline-block;
            letter-spacing: 3px;
            padding: 5px 10px;
            background: $main_color;
            margin-bottom: 60px;
            text-transform: uppercase;
        }
    }
}


/****************************************************************/
/****************************************************************/
/*************************c_block_login*******************/
/****************************************************************/
/****************************************************************/

.c_block_login {
    @extend %login_block;

    input#email,
    input#password,
    button {
        @extend %login_input;
    }

    button {
        background: $main_color;
        color: #000;
        transition: .5s;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 20px;

        &:hover {
            background: none;
        }
    }

    a.c_forget_pass {
        text-align: $float_right;
        font-size: 15px;
        display: inline-block;
        margin: 10px 0 25px;
        width: 100%;
        color: #000;
    }

    .c_social a {
        @extend %login_input;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
    }

    .c_face {
        background: #0072bc;
    }

    .c_mail {
        background: #53c8e1;
    }

    .form-group input {
        @extend %login_input;
    }
}


.page_register {
    padding: 0 !important;
}



/****************************************************************/
/****************************************************************/
/*************************page_cart*******************/
/****************************************************************/
/****************************************************************/

.page_cart {

    .c_view_content {
        max-width: 620px;
        margin: auto;
    }

    table {
        @extend %style_table;
    }


}

.page_order_details .c_view_content {
    max-width: 1000px;
}

/****************************************************************/
/****************************************************************/
/*************************page_myAccount*******************/
/****************************************************************/
/****************************************************************/

.page_myAccount {


    /***/
    .c_view_content {
        max-width: 800px;
        margin: auto;
    }


    .quieq_tap {
        li.nav-item {
            width: 33.33%;
            text-align: center;
            margin: 0px;
        }


        .nav-tabs .nav-link {
            border: 1px solid #ddd;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            font-size: 18px;
            color: #6a6a6a;
        }

        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            color: #fff;
            background-color: $main_color;
            border-color: $main_color;
        }

    }


    .c_box2 {
        padding: 30px 15px;
        background: #fff;
        border-radius: 15px;
        @extend %gr_relative;



        .c_top {
            @extend %gr_relative;
            padding: 15px 45px;
            border: 1px solid #ddd;
        }

        .c_top .c_left {
            width: 40%;
            float: $float_left;
        }

        .c_top .c_right {
            width: 30%;
            float: $float_right;
        }



        .c_info label {
            font-size: 20px;
            color: $main_color;
        }

        .c_info span,
        .c_info a {
            font-size: 20px;
            color: #6a6a6a;
        }








        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
        }


        .c_submit button {
            width: 100%;
            font-size: 21px;
            border-radius: 20px;
            height: 50px;
            background: #b8162b;
            border: 1px solid #b8162b;
        }


        .c_submit button:hover {

            border: 1px solid #b8162b;
        }





    }


    .c_box1 {
        border: 1px solid #ddd;
    }

    .c_box1 form {
        padding: 50px 90px 100px;
    }


    form .input-group {
        margin-bottom: 20px;
    }

    form .input-group select {
        height: 50px;
        border: 1px solid #ddd;
        border-radius: 0;

    }

    form button {
        width: 100%;
        font-size: 21px;
        border-radius: 20px;
        height: 50px;
        background: $main_color;
        border: 1px solid $main_color;
        transition: .5s;

    }


    form button:hover {

        border: 1px solid $main_color;
    }

    .form-group.c-perimg input {
        width: 0;
    }

    .form-group.c-perimg {
        margin: 40px 0;
        text-align: center;
    }



    .form-group input,
    form .form-group select {
        height: 50px;
        border-radius: 0;
    }



    /*** 2-5-2021 ****/
    a.remove_location_profile.btn.btn-danger {
        float: $float_right;
    }

    /*** 2-5-2021 ****/




    .c_box1 .c-titl {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .c-titl label {
        font-size: 18px;
        font-weight: bold;
    }
    .c-titl span {
        font-size: 18px;
        color: #797979;
    }

    .c_box1 .c_info {
        font-size: 18px;
        padding-top: 10px;
        border-top: 1px solid #ddd;
        margin-top: 20px;
        font-weight: bold;
    }
    .c_info span,
    .c_pendin {
        color: green;
        font-size: 18px;
        font-weight: bold;
    }


    .cblock {
        padding: 50px 40px 100px;
    }

    .cblock .c_itmes {
        padding: 20px;
        border: 1px solid #ddd;
        position: relative;
        margin-bottom: 25px;
    }


    .cblock.c_asaddress label {
        margin-#{$float_right}: 15px;
    }

    .cblock.c_asaddress li {
        font-size: 18px;
        color: #6a6a6a;
        padding-top: 10px;
        border-bottom: 1px solid #ddd;
    }

    .c_assaress .c_butmn a {
        width: 100%;
        font-size: 21px;
        border-radius: 20px;
        height: 50px;
        background: $main_color;
        border: 1px solid $main_color;
        transition: .5s;
        margin-top: 20px;
    }


    .c_assaress .c_butmn a:hover {

        border: 1px solid $main_color;
    }

    .c_assaress .c_butmn {
        padding: 0 40px 30px;
    }


    .c_order_Details {
        position: absolute;
        top: 20px;
        #{$float_right}: 20px;
        .c_go_details {
            color: $main_color;
            font-size: 18px;
        }
    }

    .c_rowss {
        display: flex;
        justify-content: space-between;
    }


    table {
        @extend %style_table;
        // padding: 0 40px;
    }

}




/****************************************************************/
/****************************************************************/
/*************************page_productsSubCategory***************/
/****************************************************************/
/****************************************************************/

.page_productsSubCategory {

    .c_categoruys{
        .c_menu_Categ {
            border: 1px solid #a5a5a5;

            .i_main {
                padding: 15px;
                width: 100%;
                display: inline-block;
                border-top: 1px solid #eee;
                margin-bottom: 0;
            }
        }
        .c_subpro_categ a {
            font-size: 15px;
            color: #515151;
            display: inline-block;
            margin: 5px;
            font-weight: bold;
        }
        ul.c_subpro_categ {
            padding: 20px 10px;
        }
    }


    .c_index_product .c_item {
        @extend %sub_product_item;
    }

}


/****************************************************************/
/****************************************************************/
/*************************page_productsSubCategory***************/
/****************************************************************/
/****************************************************************/

.page_productsBrand {

    .c_item {
        @extend %sub_product_item;
    }

}


/****************************************************************/
/****************************************************************/
/*************************page_our_partners**********************/
/****************************************************************/
/****************************************************************/

.page_brands{

    .c_view_content{

      .c_item{
       @extend %brands_item;
      }

    }



}


/****************************************************************/
/****************************************************************/
/*************************page_clients**********************/
/****************************************************************/
/****************************************************************/

.page_clients{

    .c_view_content{

        .c_item_cleint{
            margin-bottom: 65px;
        }

      .c_item{
       @extend %clients_item;
      }
      .swiper-button-next:after, .swiper-button-prev:after{
        display: none;
      }
      .swiper-container {
        padding: 0px 45px;
    }
    .c_client_title{
        text-align: center;
        margin-bottom: 60px;
    }

    .c_client_title a{
        @extend %title_cleint;

        &:after{
            @extend %cleint_after_title;
        }
    }

    }



}


/****************************************************************/
/****************************************************************/
/*************************page_services**********************/
/****************************************************************/
/****************************************************************/

.page_services{
    .c_item{
        @extend %services_item;
       }
}


/****************************************************************/
/****************************************************************/
/*************************page_contact**********************/
/****************************************************************/
/****************************************************************/

.page_contact{
    padding: 0 !important;

    .c_fomrs {
        padding: 60px 85px;
        box-shadow: 0px 0px 10px #bbbbbb73;
        margin-top: -5px;
        margin-bottom: 120px;

        .c_workin_toims {
            padding-#{$float_right}: 70px;
            height: 530px;
            position: relative;
            img{
                width: 100%;
                height: 492px;
            }

            .c_div_work {
                position: absolute;
                bottom: 0;
                background: #484848e0;
                border-radius: 5px;
                padding: 40px 30px;
                /* #{$float_left}: 0; */

                h3{
                    font-size: 29px;
                    color: #fff;
                    margin-bottom: 20px;
                }
                .c_tims{
                    margin-bottom: 20px;
                }
                .c_tims p {
                    margin: 0;
                    color: #fff;
                    font-size: 18px;
                }
                .c_apho p{
                    color: $main_color;
                    font-size: 23px;
                    font-weight: bold;
                }
                .c_apho a{
                    color: #fff;
                    font-size: 33px;
                    transition: .5s;
                    &:hover{
                        color: $main_color;
                    }
                }
            }
        }

        .c_form_contat{
            .c_tit_form h3 {
                font-size: 30px;
                margin-bottom: 30px;
                font-weight: bold;
            }

            .form-group {
                margin-bottom: 20px
            }
            .form-group input{
                @extend %input_contact;
            }
            .form-group textarea{
                @extend %textarea_contact;
            }

        }
    }

    .c_social {
        text-align: center;
        padding: 0 100px;
        margin-bottom: 120px;

        .col-md-3 {
            margin-bottom: 55px;
        }

        .c_item{
            margin-bottom: 55px;
            border-radius: 50%;
            height: 130px;
            color: $main_color;
            background: #fff0;
            transition: 0.5s;
            display: table-cell;
            vertical-align: middle;
            padding: 20px;
            &:hover{
                text-shadow: 0 0 5px  $main_color;
            }
            a{
                color: $main_color;
            }
            i{

                font-size: 40px;
            }

            p {
                margin: 15px 0;
            }
        }

    }
}


/****************************************************************/
/****************************************************************/
/*************************page_contact**********************/
/****************************************************************/
/****************************************************************/

.page_about{
    .c_how_is {
        width: 50%;
        display: flex;
        margin-bottom: 175px;

        .c_verti_tit {
            @extend %vertical_word;
        }

        .c_field {
            padding: 0 30px;
            h3{
                font-size: 30px;
                color: $second_color;
                margin-bottom: 20px;
            }
            p{
                @extend %stylePargraoh;
            }
        }

    }

    .c_vison_mission{

        .c_item{
            display: flex;
            height: 290px;
            .c_verti_tit {
               @extend %vertical_word;
            }

            .c_field {
                padding: 30px;
                background: #f6f6f6;
                h3{
                    font-size: 30px;
                    color: $second_color;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                }
                p{
                    @extend %stylePargraoh;
                }
            }
        }
    }
}



/****************************************************************/
/****************************************************************/
/*************************page_terms**********************/
/****************************************************************/
/****************************************************************/

.page_terms{

    .c_item{
        margin-bottom: 75px;
        .c_title h4 {
            font-size: 23px;
            margin-bottom: 40px;
            text-transform: uppercase;
            position: relative;
            padding: 0 8px;
            &::before {
                content: "";
                position: absolute;
                width: 150px;
                height: 60px;
                background: $main_color;
                #{$float_left}: 0;
                z-index: -1;
                top: -15px;
            }
        }
        .c_body p {
            color: #535353;
            font-size: 17px;
            line-height: 30px;
        }
    }


}
