
/****************************************************************/
/****************************************************************/
/*************************c_page_profile***************************/
/****************************************************************/
/****************************************************************/



.c_page_profile{

    .c-right{
        float: right;
        width: 37%;
        padding: 100px 0;





        .quieq_tap ul {
            display: block;
        }

        .c_searchc {
            width: 340px;
            margin: auto;
            margin-bottom: 44px;
        }


        .c_searchc  input {
            padding: 15px 35px;
            width: 100%;
            height: 45px;
            border-radius: 35px !important;
        }

        .c_searchc  input::placeholder {
            font-size: 18px;
            color: #a8a8a8;
        }


        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active,
        .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover
       {
           border: 0;
           border-radius: 0;
       }


        .nav-tabs .nav-link {
           font-size: 15px;
           font-weight: bold;
           color: $main_color;
           padding: 15px 140px;
           border: 0;
           border-radius: 0;
       }


         .nav-tabs .nav-item.show .nav-link,
         .nav-tabs .nav-link.active,
         .nav-tabs .nav-link:hover {
           color: $main_color;
           background-color: #f5f5f5;
       }





    }



    .c-left {
        float: left;
        width: 63%;
        padding: 75px 0;
        box-shadow: inset -2px -3px 5px 0px #d4d4d4d1;



        .row {
            margin: auto !important;
        }


        .c_editInfo{


            padding: 0 50px 0 100px;


            .c_imgchosee > label{

                width: 100px !important;
                height: 100px;

            }

            .c_imgchosee .c_editm {
                position: absolute;
                bottom: 20px;
                right: 2px;
            }


            .c_imgchosee span {
                font-size: 19px;
                font-weight: bold;
                color: $main_color;
                margin-right: 40px;
            }

            .c_imgUp input {
                display: none;
            }

            .c_imgUp {
                width: 100%;
                height: 100%;
            }

            .c_imgUp img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }


            .form-group {
                margin-bottom: 44px;
            }

            .form-group label{
                width: 100%;
                font-size: 16px;
                font-weight: bold;
                color: #4c4c4c;
                margin-bottom: 18px;
            }

            .form-group > input,
            .form-group > select,
            .form-group .select2-selection
             {
                width: 100%;
                height: 45px;
                border: 1px solid #ccc;
                border-radius: 20px;
                padding: 6px 12px;
                text-align: right;
            }


            .c_btnn button{
                @extend %main_button;

            }

          
        }

        .c_statususerwx h4 {
            font-size: 16px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }

        .c_statususerwx label {
            margin-bottom: 0;
            margin-left: 15px;
        }

        .c_statususerwx span {
            font-size: 14px;
        }

        .c_statususerwx a {
            color: $main_color;
        }

        .c_commentMessage {
            padding: 0 100px;
            position: relative;

            .c_box {
                padding: 50px 35px;
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 30px;
                display: flex;
            }


            .c_box .c_image {
                width: 70px;
                height: 70px;
                border-radius: 50%;
            }

            .c_box .c_body {
                @extend %gr_relative;
            }


            .c_textare textarea{
                padding: 25px 30px;
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 30px;
                width: 100%;
                height: 180px;
            }



             button{
                @extend %main_button;
            }

             


        }
    }




}




/****************************************************************/
/****************************************************************/
/*************************c_page_courses***************************/
/****************************************************************/
/****************************************************************/



.c_page_courses{

    .c_item {
        @extend %box_courses_item;
        margin: 15px 0;
     }
     .c_block{
         padding: 40px 0;
     }
}




/****************************************************************/
/****************************************************************/
/*************************c_page_courseDetails***************************/
/****************************************************************/
/****************************************************************/



.c_page_courseDetails{

    .c_mainContent {
        padding: 50px 0;
        @extend %block_relative;
    }

    .c_info{

        @extend %block_relative;
        padding-bottom: 45px;
        .c_right {
            width: 70%;
            float: right;
            .c_itms {
                padding: 35px;
                @extend %boxshod_readius;
            }

            .c_title{
                @extend %styleTitle_inner;
            }

            .c_body{
                @extend %stylePargraoh_inner;
            }

            .c_tafsell{
                @extend %styltfseel;
            }

        }


        .c_left {
            width: 27%;
            float: left;

            .c_box_subscribe{
                @extend %boxshod_readius;
                video#myvideo {
                    width: 100%;
                    height: 190px;
                    /* border: 2px solid #0b8585; */
                }

                .c_btn_subscribe{
                    height: 135px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        @extend %subscribe_button;
                        width: 65%;
                        text-align: center;
                    }

                }
            }
        }
    }

    .c_brandas{
        @extend %padding_Section;
        background: $btn_hover;
    
        .c_section_title {
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: bold;
        }
    
        .c_item {
            text-align: center;
            width: 100%;
            height: 100px;
            transition: .5s;
            &:hover {
                transform: scale(1.1);
            }
        }
    
        .c_item img{
            // filter: grayscale(100%);
            transition: .5s;
            position: absolute;
            #{$float_left}: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-height: 100%;
        }
    
        .c_item img:hover{
            filter: none;
            // transform: scale(1.06);
        }
    
        .swiper-pagination {
            @extend %bullets_swiper;
            bottom: -7px !important;
            text-align: center;
        }
    
    
    }

    .c_info2{
        margin-top: 40px;
        .c_right {
            width: 38%;
            float: right;

            .c_box_show{
                @extend %boxshod_readius;
                @extend %flex_center ;
                padding: 50px 0 40px;
            }
            .c_bloc{
                .c_img{
                    margin-bottom: 30px;
                }
                img{
                    width: 175px;
                    height: 130px;
                }
                .c_btn_subscribe a{
                    @extend %subscribe_button;
                    width: 100%;
                    text-align: center;
                }
            }
        }

        .c_left {
            width: 58%;
            float: left;

            .c_itm_prof{
                @extend %flex_center ;
                justify-content: flex-start;
                @extend %boxshod_readius;
                padding: 40px 80px;
                img{
                    border-radius: 100%;
                    width: 170px;
                    height: 170px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    margin-left: 44px;
                }

                .c_bdy{
                    color: $main_color;
                    span{
                        display: inline-block;
                        font-size: 16px;
                        font-weight: bold;
                        color: $main_color;
                        margin-bottom: 10px;
                    }
                    h6{
                        font-size: 13px;
                        color: $main_color;
                    }
                }
            }
        }
    }
}